<section class="project-content-section" id="team">
  <div class="wrap" style="position: relative;">
    <h2 class="heading--small" id="project-team-heading" style="position: relative; display: table; width: auto; margin-left: auto; margin-right: auto;">
      Our Team
      <span class="edit-button js-edit-button" id="project-team-edit" data-container="project-team-heading">
        <i class="icon icon--edit"></i>
        Edit
      </span>
      <span class="edit-save-button" id="project-team-save">Done</span>
    </h2>
    <p>
      <%= link_to 'Add Crew', {:controller => "project_members", :action => "new", :project_id => project.id}, class: "button--stroke--long" %>
    </p>
    <%= hidden_field_tag :project_id, project.id, class: "form-input" %>

    <ul class="project-team-members" style="position: relative;" id="project-team-members">
      <% all_members.each do |projectMember| %>
          <li class="project-team-member">
            <div class="project-team-member-thumbnail js-lightbox-open" data-content-container="#team-lightbox-content-<%= projectMember.id %>" >
              <%= hidden_field_tag :project_member_id, projectMember.id %>
              <% if projectMember.user.profile_pic.blank? %>
                  <%= image_tag('userprofile.jpg',:class=> "img-circular") %>
              <% else %>
                  <%= image_tag(projectMember.user.profile_pic,:class=> "img-circular") %>
              <% end %>
            </div>
            <span class="project-team-member__name"><%= projectMember.user.last_name %> <%= projectMember.user.first_name %></span>
            <span class="project-team-member__position"><%= projectMember.role %></span>
          </li>
      <% end %>
      <i class="temp-slider-arrow-left" style="margin-top: -75px;"></i>
      <i class="temp-slider-arrow-right" style="margin-top: -75px;"></i>
    </ul>
  </div>
</section>

