<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<p id="notice"><%= notice %></p>

<legend class="form-heading heading"><h1>Manage Project Proposals</h1></legend><br>

<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row"><strong>Email</strong></th>      
      <th class="th-row"><strong>Name</strong></th>
      <th class="th-row"><strong>Contact</strong></th>
      <th class="th-row"><strong>Project Title</strong></th>  
      <th class="th-row"><strong>Project Category</strong></th>     
      <th class="th-row"><strong>Project Description</strong></th>
      <th class="th-row"><strong>Project Status</strong></th>
      <th class="th-row"><strong>Project Proposal Status</strong></th>

      <th class="th-row" colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% ProjectProposal.all.each do |p| %>      
      <tr class="tr-row">        
        <td class="td-row"><%= p.email %></td>        
        <td class="td-row"><%= p.name %></td>
        <td class="td-row"><%= p.contact_number %></td>
        <td class="td-row"><%= p.title %></td>
        <td class="td-row"><%= p.project_category.try(:category)%></td>
        <td class="td-row"><%= p.description %></td>
        <td class="td-row"><%= p.project_status.try(:status) %></td>
        <td class="td-row">
        <% if p.project_status.id == 1 %>
                  <b><%= link_to 'Accept', {:controller => "project_proposals", :action => "accept", :id => p.project_status.id }, {:method=>:post} %></b>
                  
                  <b><%= link_to 'Reject', {:controller => "project_proposals", :action => "reject", :id => p.project_status.id } , {:method=>:post} %></b>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back', {:controller => "admins", :action => "index" } %><br>