<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<p id="notice"><%= notice %></p>
<br>
<legend class="form-heading heading"><h1>Manage Project Proposals</h1></legend><br>

<%= link_to '< BACK', {:controller => "admins", :action => "index" }, class: "back--button" %><br>
<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row"><strong>Email</strong></th>      
      <th class="th-row"><strong>Name</strong></th>
      <th class="th-row"><strong>Contact</strong></th>
      <th class="th-row"><strong>Project Title</strong></th>  
      <th class="th-row"><strong>Project Category</strong></th>     
      <th class="th-row"><strong>Project Description</strong></th>
      <th class="th-row"><strong>Proposal Status</strong></th>
      <th class="th-row"><strong>Actions</strong></th>
    </tr>
  </thead>

  <tbody>
    <% @ProjectProposals.each do |p| %>      
      <tr class="tr-row">        
        <td class="td-row"><%= p.email %></td>        
        <td class="td-row"><%= p.name %></td>
        <td class="td-row"><%= p.contact_number %></td>
        <td class="td-row"><%= p.title %></td>
        <td class="td-row"><%= p.project_category.try(:category)%></td>
        <td class="td-row"><%= p.description %></td>
        <td class="td-row"><%= p.project_status.try(:status) %></td>
        <td class="td-row">
        <p><% if p.project_status_id == 2 %>
                  <%= link_to approveProposal_path(:id => p.id), :class=>"btn btn-success" do %>
                  Accept
                  <% end %>
                  
                  <%= link_to rejectProposal_path(:id => p.id), :class=>"btn btn-danger" do %>
                  Reject
                  <% end %>
        <% end %>
        </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>