<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<p id="notice"><%= notice %></p>
<br>
<legend class="form-heading--tables heading"><h1>Manage Project Proposals</h1></legend><br>

<%= link_to '< BACK', {:controller => "dashboards", :action => "index" }, class: "back--button" %>
<table class="table-show">
  <thead>
  <tr class="tr-row">
    <th class="th-row">Project Title</th>
    <th class="th-row">Project Category</th>
    <th class="th-row">Project Description</th>
    <th class="th-row">Proposal Status</th>
  </tr>
  </thead>

  <tbody>
  <% @ProjectProposals.each do |p| %>
      <% if p.project_status_id != 3 %>
          <tr class="tr-row">
            <td class="td-row"><%= p.title %></td>
            <td class="td-row"><%= p.project_category.try(:category)%></td>
            <td class="td-row"><%= p.description %></td>
            <td class="td-row"><%= p.project_status.try(:status) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

