<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<p id="notice"><%= notice %></p>

<legend class="form-heading heading"><h1>Manage Project Proposals</h1></legend><br>

<table class="table-show">
  <thead>
  <tr class="tr-row">
    <th class="th-row">Project Title</th>
    <th class="th-row">Project Category</th>
    <th class="th-row">Project Description</th>
    <th class="th-row">Proposal Status</th>
  </tr>
  </thead>

  <tbody>
  <% @ProjectProposals.each do |p| %>
      <% if p.project_status_id != 3 %>
          <tr class="tr-row">
            <td class="td-row"><%= p.title %></td>
            <td class="td-row"><%= p.project_category.try(:category)%></td>
            <td class="td-row"><%= p.description %></td>
            <td class="td-row"><%= p.project_status.try(:status) %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="4"><%= link_to 'Back', {:controller => "dashboards", :action => "index" } %></td>
  </tr>
  </tfoot>
</table>

