<% if @session.nil? %>
<%= render "layouts/headerLogin" %>
<% else %>
    <%= render "layouts/headerUser", :projects=>@projects, :images =>  @project_coverImgs%>
<% end %>
<main class="page-main">
  <nav id="cd-vertical-nav">
    <ul>
      <li>
        <a href="#section1" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Basic Info</span>
        </a>
      </li>
      <li>
        <a href="#section2" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">Project Description</span>
        </a>
      </li>
      <li>
        <a href="#section3" data-number="3">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact Details</span>
        </a>
      </li>
    </ul>
  </nav>
  <%= form_for :project_proposal, url: createProposal_path,:html => { :multipart => true } do |f| %>
  <div class="form-field">
          <% if @projectProposal.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% @projectProposal.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>        
    <!--Project title & Category Section-->
  <section class="page-section--small">
    <div class="form--large nl-form getstartedform" id="nl-form">
    <section class="segment" id="section1">
      
        <div class="form-field">
          <p>My project title is</p>
          <%= f.text_field :title, class: "form-input" %>
        </div>

        <div class="form-field">
          <p>It will impact the</p>
            <% options = options_from_collection_for_select(ProjectCategory.all, 'id', 'category', '5') %>
            <%= f.select :project_category_id, options, :class=>"form-input" %>
          <span>category.</span>
        </div>

        <div class="form-field">
        <i class="icon icon--location-pin"></i>
        <%= f.country_select :country, ['Singapore'], options = {}, html_options = {:class => "form-input", :id => "resizing_select"} %>
        <select id="width_tmp_select">
          <option id="width_tmp_option"></option>
        </select>
        </div>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">1 / 3</span>
            <span class="form-progress__description">Basic Info</span>
          </div>
        </div>
      </div>
      </fieldset>
      </section>

      
      <fieldset>
        <div class="form-field">
        <section class="segment" id="section2">
          <p>Tell us about your project:</p>
<%= f.text_area(:description, rows: "4", :class=>"form-input form-textarea",:placeholder=>"Enter your description", :id=>"project-description", :maxlength=>"300") %>
          <div class="textarea-character-limit js-textarea-limit" data-for="project-description" data-limit="300"><span class="textarea-character-limit__count">300</span> characters left</div>

          <div class="form-file-dropper-getstarted js-file-dropper bottomoffset">
            <i class="icon icon--paperclip"></i>
            Click to add feature images!
            <div class="form-field-getstarted">
                <%= f.file_field :img_url,:multiple=>true, :class=>"form-input--fileupload file" %>
                <!--label class="form-label" for="img_url">(Image File Size: < 2MB)</label-->
                <div class="upload-preview"><img /></div>
            </div>
          </div>
          <!-- current -->
          <!--div class="form-file-dropper js-file-dropper bottomoffset">
            <i class="icon icon--paperclip"></i>
            Click to add feature images <%= f.file_field :img_url,:multiple=>true, :class=>"form-input--fileupload file", :name=>"logo", :type=>"file"  %>
            <div class="upload-preview"><img /></div>
          </div-->
        </section>
       </div>
         <!-- js code -->
         
         <!--input class="file" name="logo" type="file"-->  

      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">2 / 3</span>
            <span class="form-progress__description">Project Description</span>
          </div>
        </div>
      </div>
      

      <!-- Personal contact information -->
      <br/>
      <section class="segment" id="section3">
      <fieldset>
      <p>We'll contact you soon!</p>
        <div class="form-field">
          <% if @session.nil? %>
        <%= f.text_field(:name, rows: "1", columns: "1", :class=>"form-input form-textarea",:placeholder=>"Name") %> 
        <%= f.text_field(:email, rows: "1", :class=>"form-input form-textarea",:placeholder=>"Email") %>
        <br/>
        <!--p>Location:</p>
        <i class="icon icon--location-pin"></i>
        <%= f.country_select :country, ['Singapore'], options = {}, html_options = {:class => "form-input", :id => "resizing_select"} %>
        <select id="width_tmp_select">
          <option id="width_tmp_option"></option>
        </select-->
        <% else %>
              <%= f.text_field(:name, rows: "1", columns: "1", :class=>"form-input form-textarea", :value => @user.name) %>              
              <%= f.text_field(:email, rows: "1", :class=>"form-input form-textarea",:value => @user.email) %>
              <br/>

              <!--p>Location:</p>
              <i class="icon icon--location-pin"></i>
              <%= f.country_select :country, [@user.country], options = {}, html_options = {:class => "form-input", :id => "resizing_select"} %>
              <select id="width_tmp_select">
                <option id="width_tmp_option"></option>
              </select-->

          <%end %>
      </div>
     
      <div class="form-progress">
        <div class="grid-container wrap" style="max-height:100px;">
          <div class="grid-65 form-progress-information" style="margin-top:20px; height:40px;">
            <span class="form-progress__title">Create Project</span>
            <span class="form-progress__section">3 / 3</span>
            <span class="form-progress__description">Project Type</span>
          </div>
          
          <div class="grid-30 push-5">
            <%= f.button "Submit Project Proposal", :class => "button--fill--black button--full" do %>
        Submit My Project
        <i class="icon icon--button-arrow-right"></i>
        <% end %>
          </div>
        </div>
      </div>

      </section>
      </fieldset>
    </div>
  </section>
  <% end %>

</main>
<%= render "layouts/footer" %>
<%= yield %>