<div class="page-section">
  <legend class="form-heading heading">Create Project Proposal</legend>
  <p><b>Get ready to create, innovate, and change the world.</b></p>
  <br>
  <br>
  <%= form_for(@ProjectProposal) do |f| %>
      <div class="form-field">
        <% if @ProjectProposal.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <b><u>Errors:</u></b>
              <ul>
                <% @ProjectProposal.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
      <div class="form-field">
        <%= f.text_field :title, class: "form-input", placeholder: "Title" %>
      </div>
      <div class="form-field">
        <% options = options_from_collection_for_select(ProjectCategory.all, 'id', 'category') %>
        <%= f.select :project_category_id, options %>
      </div>
      <div class="form-field">
        <%= f.text_area :description, class: "form-input", placeholder: "Description" %>
      </div>

      <div class="form-field">
        <p>Would you like to:</p>
        <% ProjectType.all.each do |t| %>
        <%= f.radio_button :project_type_id, t.id %>
        <%= f.label :project_type_id, t.types, :value => t.types, class: "form-input--radio" %>
        <i class="icon icon--tick"></i>
            <br>
            <% if (t.id == 1) %>
                <p>OR</p>
            <% end%>
        <% end %>
      </div>

      <div class="form-field">
        <%= f.text_field :name, class: "form-input", placeholder: "Name" %>
      </div>
      <div class="form-field">
        <%= f.text_field :email , class: "form-input", placeholder: "Email" %>
      </div>
      <div class="form-field">
        <%= f.text_field :contact_number, class: "form-input", placeholder: "Contact Number" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Submit Project Proposal", class: "button--stroke--long" %>
      </div>
  <% end %>
</div>
