<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/headerLogin" %>
<%= yield %>

<main class="page-main">
  <%= form_for @ProjectProposal, :html => { :multipart => true } do |f| %>
  <div class="form-field">
          <% if @ProjectProposal.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% @ProjectProposal.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>        
    <!-- Project title & Category Section -->
  <section class="page-section--small">
    <div class="form--large nl-form" id="nl-form">
      <fieldset>
        <div class="form-field">
          <p>My project title is</p>
          <%= f.text_field :title, class: "form-input" %>
        </div>

        <div class="form-field">
          <p>It will impact the</p>
            <% options = options_from_collection_for_select(ProjectCategory.all, 'id', 'category', '5') %>
            <%= f.select :project_category_id, options, :class=>"form-input" %>
          <span>category.</span>
        </div>
      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">1 / 4</span>
            <span class="form-progress__description">Basic Info</span>
          </div>
        </div>
      </div>

      <!-- Project Description Section -->
      <br/>
      <fieldset>
        <div class="form-field">
          <p>Tell us about your project:</p>
<%= f.text_area(:description, rows: "8", :class=>"form-input form-textarea",:placeholder=>"Enter your description", :id=>"project-description", :maxlength=>"1000") %>
          <div class="textarea-character-limit js-textarea-limit" data-for="project-description" data-limit="1000"><span class="textarea-character-limit__count">1000</span> characters left</div>

          <div class="form-file-dropper-getstarted js-file-dropper">
            <i class="icon icon--paperclip"></i>
            To add feature image(s),<br> click on the 'Choose Files' button <!--/video files, drag & drop here or   -->
            <div class="form-field-getstarted">
                <%= f.file_field :img_url,:multiple=>true,:class=>"form-input--getstarted"  %>
                <label class="form-label" for="bio_url">(Image File Size: < 2MB)</label>                      
            </div>
          </div>
         </div>
      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">2 / 4</span>
            <span class="form-progress__description">Project Description</span>
          </div>
        </div>
      </div>

      <!-- Project Fundraise or Crowdsource Idea -->
      <br/>

      <fieldset>
        <div class="form-field">
          <p>Would you like to:</p>
          
          <%= f.radio_button :project_type_id,'1',:id=>"radio-fundraise"%>          
          <%= f.label :project_type_1, :class=>"form-input--radio", :for=>"radio-fundraise" do %>
            Fundraise for an idea
            <i class="icon icon--tick"></i>
          <% end %>

          <p>or</p>

          <%= f.radio_button :project_type_id,'2',:id=>"radio-crowdsource" %>  
          <%= f.label :project_type_2, :class=>"form-input--radio", :for=>"radio-crowdsource" do %>
            Crowdsource my idea<br>for feedback
            <i class="icon icon--tick"></i>
          <% end %>
          

          <p class="t--small form-footnote">
            <strong>TIP:</strong> You can always change this before publishing your project.
            <br>
            Once it is live, there is no changing back.
          </p>
        </div>
      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">3 / 4</span>
            <span class="form-progress__description">Crowdfund?</span>
          </div>
        </div>
      </div>


      <!-- Personal contact information -->
      <br/>

      

      <fieldset>
      <p>We'll contact you soon :)</p>
        <div class="form-field">

        <%= f.text_field(:name, rows: "1", columns: "1", :class=>"form-input form-textarea",:placeholder=>"Name") %>
        <%= f.text_field(:email, rows: "1", :class=>"form-input form-textarea",:placeholder=>"Email") %>
        <%= f.text_field(:contact_number,rows: "1", :class=>"form-input form-textarea",:placeholder=>"Contact Number") %>
      </div>

      </fieldset>
      <div class="form-actions">
        <%= f.submit "Submit Project Proposal", class: "button--fill--black button--full" %>
      </div>

    </div>
  </section>
        <% end %>

</main>
<%= render "layouts/footer" %>
<%= yield %>
