<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/headerLogin" %>
<%= yield %>

<main class="page-main">
  <%= form_for(@ProjectProposal) do |f| %>
    <% if @ProjectProposal.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <b><u>Errors:</u></b>
          <ul>
            <% @ProjectProposal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!-- Project title & Category Section -->
  <section class="page-section--small">
    <div class="form--large nl-form" id="nl-form">
      <fieldset>
        <div class="form-field">
          <p>My project title is</p>
          <%= f.text_field :title, class: "form-input" %>
        </div>

        <div class="form-field">
          <p>It will impact the</p>
            <% options = options_from_collection_for_select(ProjectCategory.all, 'id', 'category', '5') %>
            <%= f.select :project_category_id, options, :class=>"form-input" %>
          <span>category.</span>
        </div>
      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">1 / 4</span>
            <span class="form-progress__description">Basic Info</span>
          </div>
        </div>
      </div>

      <!-- Project Description Section -->
      <br/><br/><br/>
      <fieldset>
        <div class="form-field">
          <p>Tell us about your project:</p>
<%= f.text_area(:description, rows: "8", :class=>"form-input form-textarea",:placeholder=>"Enter your description", :id=>"project-description", :maxlength=>"300") %>
          <div class="textarea-character-limit js-textarea-limit" data-for="project-description" data-limit="300"><span class="textarea-character-limit__count">300</span> characters left</div>

          <div class="form-file-dropper js-file-dropper">
            <i class="icon icon--paperclip"></i>
            To add a feature image/video files drag & drop here or <a href="#">select files from your computer</a>
          </div>
        </div>
      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">2 / 4</span>
            <span class="form-progress__description">Project Description</span>
          </div>
        </div>
      </div>

      <!-- Project Fundraise or Crowdsource Idea -->
      <br/><br/><br/>
      <fieldset>
        <div class="form-field">
          <p>Would you like to:</p>

          <input type="radio" id="radio-fundraise" name="project-intent" value="1">
          <label class="form-input--radio" for="radio-fundraise">
            Fundraise for an idea
            <i class="icon icon--tick"></i>
          </label>

          <p>or</p>

          <input type="radio" id="radio-crowdsource" name="project-intent" value="2">
          <label class="form-input--radio" for="radio-crowdsource">
            Crowdsource my idea<br>for feedback
            <i class="icon icon--tick"></i>
          </label>

          <p class="t--small form-footnote">
            <strong>TIP:</strong> You can always change this before publishing your project.
            <br>
            Once it is live, there is no changing back.
          </p>
        </div>
      </fieldset>

      <div class="form-progress">
        <div class="grid-container wrap">
          <div class="grid-65 form-progress-information">
            <span class="form-progress__title">Project Proposal</span>
            <span class="form-progress__section">3 / 4</span>
            <span class="form-progress__description">Crowdfund?</span>
          </div>
        </div>
      </div>

      <!-- Personal contact information -->
      <br/><br/><br/>
      <fieldset>
      <p>We'll contact you soon :)</p>
        <div class="form-field">
        <%= f.text_area(:name, :class=>"form-input form-textarea",:placeholder=>"Name") %>
        <%= f.text_area(:email, :class=>"form-input form-textarea",:placeholder=>"Email") %>
        <%= f.text_area(:contact_number, :class=>"form-input form-textarea",:placeholder=>"Contact Number") %>
      </div>

      </fieldset>
      <div class="form-actions">
        <%= f.submit "Submit Project Proposal", class: "button--fill--black button--full" %>
      </div>

    </div>
  </section>
        <% end %>

</main>
<%= render "layouts/footer" %>
<%= yield %>

<!--

<div class="page-section">
  <legend class="form-heading heading">Create Project Proposal</legend>
  <p><b>Get ready to create, innovate, and change the world.</b></p>
  <br>
  <br>
  <%= form_for(@ProjectProposal) do |f| %>
      <div class="form-field">
        <% if @ProjectProposal.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <b><u>Errors:</u></b>
              <ul>
                <% @ProjectProposal.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
      <div class="form-field">
        <%= f.text_field :title, class: "form-input", placeholder: "Title" %>
      </div>
      <div class="form-field">
        <% options = options_from_collection_for_select(ProjectCategory.all, 'id', 'category') %>
        <%= f.select :project_category_id, options %>
      </div>
      <div class="form-field">
        <%= f.text_area :description, class: "form-input", placeholder: "Description" %>
      </div>

      <div class="form-field">
        <p>Would you like to:</p>
        <% ProjectType.all.each do |t| %>
        <%= f.radio_button :project_type_id, t.id %>
        <%# t.id = 1,2     t.types: Crowdsource #%>
        <%= f.label :project_type_id, t.types, :value => t.types, class: "form-input--radio"%>
          <i class="icon icon--tick"></i>
          <br>
            
          <% if (t.id == 1) %>
            <p>OR</p>
          <% end%>
        <% end %>
      </div>

      <div class="form-field">
        <%= f.text_field :name, class: "form-input", placeholder: "Name" %>
      </div>
      <div class="form-field">
        <%= f.text_field :email , class: "form-input", placeholder: "Email" %>
      </div>
      <div class="form-field">
        <%= f.text_field :contact_number, class: "form-input", placeholder: "Contact Number" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Submit Project Proposal", class: "button--stroke--long" %>
      </div>
  <% end %>
</div>
