<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/header" %>
<%= yield %>

<div class="page-section">

  <legend class="form-heading heading">Thank you for your submission!</legend>
  <p><strong>We will contact you soon!</strong><br>
    <strong>Do note that you can only edit your project after receiving an email from us</strong></p>
  <br>
  <%= link_to 'Click here to go back to the home page', root_path %>
</div>

<%= render "layouts/footer" %>
<%= yield %>