<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<div class="page-main">
  <div class="page-section">
    <legend class="form-heading heading">Add Expertise</legend>
  <%= form_for :user_expertise, url: createExpertise_path(:project_id => @project_id)  do |f| %>
        <%= f.hidden_field :user_id, :value => @user_id %>

        <% if @user_expertise.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <b><u>Errors:</u></b>
              <ul>
                <% @user_expertise.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-field">
          <%= f.text_field :expertise_name, class: "form-input", placeholder: "Expertise Name" %>
          <label class="form-label" for="name">Expertise Name</label>
        </div>

        <div class="form-actions">
          <td align=right><%= f.submit "Submit", class: "button--stroke--long" %></td>
        </div>

    <% end %>
    <br>

  </div>
</div>