<html lang="en">
<head>
  <meta name="robots" content="noindex">
  <meta charset="UTF-8">
  <title>Ybco</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="/assets/unsemantic/assets/stylesheets/unsemantic-grid-responsive-no-ie7.css" >
  <link rel="stylesheet" href="/assets/unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet-no-ie7.css">

  <%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "application"%>
    <!-- endbower -->
  <link rel="icon" type="image/png" href="favicon.png">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
</head>

  <!--div class="banner-notice">
    Don't let your work go to waste. 
    <%= link_to newProposal_path, :style=>"display:inline;padding: 0;" do %>
    <span class="t--strong">Be a part</span> 

    <% end %>of YBCO and create projects you're passionate about.
    <i class="icon icon--cross js-close"></i>
  </div-->

<header class="page-header">
  <span style="font-size:30px;cursor:pointer">
   <button class="site-menu-open js-site-menu-toggle">
    <span class="l--hidden">Open Site Menu</span>
    <i class="icon icon--menu" id="page-button"></i>
    <i class="icon icon--medium-cross l--hidden" id="cross"></i>
   </button>
  </span>

  <h1 class="site-logo logo">
    <%= link_to '', dashboardIndex_path , class: "icon icon--ybco-logomark",  id: "ybcologo" %>
  </h1>

  <!-- Sidebar -->
  <section class="site-menu" id="site-menu">
    <div class="site-user">
      <div class="site-avatar">
        <div class="js-lightbox-open" data-content-container="#fuel-lightbox-content-addprofilepic">
          <% if current_user.profile_pic.present? %> <!-- check if profile pic exists -->
               <%=image_tag(current_user.profile_pic, :class=> "img-circular-avatar")%>
              </div>
          <% else %>
              <%= image_tag("defaultprofile.png", :class=> "img-circular-avatar")%>
              </div>
          <% end %>
          </div>
      <div class="site-avatar-name">
        Hello, <%= current_user.name.capitalize %>!
      </div>
      <div class="site-avatar-logout">
        <%= link_to "LOGOUT", logout_path %>
      </div>
    </div>

    <nav class="site-menu-block-user site-navigation">
      <div class="site-navigation-list__item">
        My Profile
      </div>
      <ul class="site-navigation-list--sub">
        <li class="site-navigation-list--project-details">
         <%= link_to "Edit Profile", editUserProfile_path(:id =>current_user.id)%>
        </li>
        <li class="site-navigation-list--project-details">
          <%= link_to "Change Password", userChangePassword_path(:id=>current_user.id) %>
        </li>
      </ul>


      <div class="site-navigation-list__item">
        My Projects
      </div>
      <ul class="site-navigation-list">
        <li class="site-navigation-list__item-project">
          <ul class="site-navigation-list--project">
            <li>
              <% if !projects.nil? %>
                <% projects.each do |p| %>
                    <%= image_tag(ProjectProposalImg.where(:project_proposal_id => p.project_proposal_id).first.img_url, :class=> "img-circular-project") %>

                    <li class="site-navigation-list--project__item-title">
                      <%= link_to showProject_path(:id => p.id) do %>
                          <%= p.title.capitalize%>
                      <% end %>
                    </li>

                    <li class="site-navigation-list--project-percentage">
                      0% complete
                    </li>
                    <li class="site-navigation-list--project-details">
                      <%= link_to "Metrics", showRewardsSelected_path(:id=>p.id) %>
                    </li>
                    <li class="site-navigation-list--project-details">
                      <%= link_to "Settings"%>
                    </li>
                    <li class="site-navigation-list--project-details">
                      <%= link_to "Tiles"%>
                    </li>
                    <li class="site-navigation-list--project-details bottom-push">
                      <%= link_to "Help"%>
                    </li>
            <% end %>
                <% end %>
            </li>
          </ul>

        </li>

        <li class="site-navigation-list__item">

          <%= link_to "Explore", viewAllProject_path%>
        </li>

        <li class="site-navigation-list__item">
          <%= link_to "Funded"%>
        </li>
      </ul>

      <ul class="site-navigation-list--small">
        <li class="site-navigation-list__item">
          <a href="#" rel="internal">About Y&B</a>
        </li>
        <li class="site-navigation-list__item">
          <a href="#" rel="internal">Support</a>
        </li>
        <li class="site-navigation-list__item">
          <a href="#" rel="internal">Community Guidelines</a>
        </li>
      </ul>
    </nav>

    <ul class="site-menu-block social-links">
      <li class="social-link"><a href="http://www.facebook.com/ybco.co" target="_blank">
        <span class="l--hidden">Facebook</span>
        <i class="icon icon--facebook-with-circle"></i>
      </a></li>
      <li class="social-link"><a href="http://www.twitter.com/youngboldco" target="_blank">
        <span class="l--hidden">Twitter</span>
        <i class="icon icon--twitter-with-circle"></i>
      </a></li>
    </ul>
  </section>

  <!--section class="site-utilities">
    <ul class="site-utilities-links">
      <li>
        <%= link_to "Logout",  logout_path, :class=>"site-utilities-link"%>
      </li>
    </ul>
  </section-->
</header>

<div class="lightbox js-lightbox">
  <div class="js-lightbox-close lightbox-close icon icon--lightbox-close"></div>
  <div class="js-lightbox-content"></div>
</div>

<div class="lightbox-overlay js-lightbox-overlay js-lightbox-close"></div>

<!--LIGHTBOX -->
<div class="l--hidden" id="fuel-lightbox-content-addprofilepic">
<!-- for the image to come out -->
<script>
var preview = $(".upload-preview2 img");
    $(".profilepic").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
</script>
  <div class="fuel-lightbox-container" style="padding: 1% 1rem;">

    <legend class="form-heading heading">Edit Profile</legend>
    <span class="fuel-lightbox__heading">Upload your profile pictures</span>

    <%= form_for :user, url:  updateProfilePic_path(:id => current_user.id) do |f| %>

        <div class="form-field">

          <% if current_user.errors.any? %>
              <div class="panel panel-danger">
                <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% current_user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>

        <div class="form-field-getstarted">
          <%= f.file_field :profile_pic, class: "form-input--fileupload profilepic", :required => 'required' %>
          <div class="upload-preview2"><img class="img-circular-avatarpreview" /></div>
        </div>

        <div class="form-actions" style="margin-top:1rem;">
          <%= f.submit "Submit", class: "button--stroke--long" %>
        </div>

    <% end %>
  </div>
</div>
</body>

</html>