<%= render "layouts/headerUser", :projects=>@projects, :images =>  @project_coverImgs%>
<%= yield %>

<div class="page-main">
  <div class="page-section">
     <legend class="form-heading heading"> Change Password </legend>
<%= form_for :user,url: userChangePassword_path(@user) do |f| %>

     <div class="form-field">
      <%= f.password_field :password, class: "form-input", :required => 'required' %>
      <label class="form-label" for="password">Password</label>
      </div>
     <div class="form-field">
      <%= f.password_field :password_confirmation, class: "form-input" %>
      <label class="form-label" for="password-confirmation">Password confirmation <%= @user.errors[:password_confirmation].first if @user.errors[:password_confirmation].any? %></label>
      </div>
    <div class="form-actions">
      <%= f.submit "SUBMIT", class: "button--stroke--long" %>
      </div>
    <% end %>
    <div class="form-actions">
    <%= link_to 'BACK', dashboardIndex_path %>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>