<%= render "layouts/headerUser", :projects=>@projects, :images =>  @project_coverImgs%>
<%= yield %>

<div class="page-main">
  <div class="page-section">
    <legend class="form-heading heading"> Edit Profile </legend>
    <%= form_for :user,url: user_path(@user),method: :patch do |f| %>    
        <div class="form-field">

          <% if @user.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>        

        <div class="form-field">
          <%= f.text_field :name, class: "form-input",:readonly=>true%>
          <label class="form-label" for="first-name">Name</label>
        </div>

        <div class="form-field" align="left">
          <%= f.text_field :email, class: "form-input" %>
          <label class="form-label" for="email">Email</label>
        </div>
              
        <div class="form-field">
            <%= f.file_field :profile_pic, class: "form-input" %>
            <label class="form-label" for="bio_url">Profile Picture (File Size: < 2MB)</label>                      
        </div>
        <% current_user=User.find(session[:user_id]) %>        
        <% if current_user.profile_pic.present? %> <!-- check if profile pic exists -->
        <% url = current_user.profile_pic%> <!-- get entire url-->
        <% index=url.to_s.rindex('/') %> <!-- get last index of '/'-->
        <div align=center> <%= url.to_s[index+1..url.to_s.length] %> </div>
        <div align=center><%= image_tag(current_user.profile_pic,:class=> "img-circular") %></div> 
        <% end %>        

        <div class="form-field">
          <%= f.text_field :bio_url, class: "form-input" %>
          <label class="form-label" for="bio_url">Bio Url</label>
        </div>

        <div class="form-field">
          <%= f.text_field :fb_url, class: "form-input" %>
          <label class="form-label" for="fb_url">Facebook</label>
          <small>e.g. 'brenkoh' (without quotes) for http://www.facebook.com/brenkoh</small>
        </div>

        <div class="form-field">
          <%= f.text_field :instagram_url, class: "form-input" %>
          <label class="form-label" for="instagram_url">Instagram</label>
        </div>

        <div class="form-field">
          <%= f.text_field :twitter_url, class: "form-input" %>
          <label class="form-label" for="twitter_url">Twitter</label>
        </div>

        <div class="form-field">
            <%= f.country_select :country %>
          </div>  


        <div class="form-actions">
          <%= f.submit "CONFIRM", class: "button--stroke--long" %>
        </div>
    <% end %>


    <div class="form-actions">
      <%= link_to "BACK", '/dashboards/index' %>
      <%# link_to "BACK", request.referer.present? ? request.referer : default_path %>
    </div>

  </div>
</div>

<%= render "layouts/footer" %>
<