<%= render "layouts/headerAdmin" %>
<%= yield %>

<p id="notice"><%= notice %></p>
<br>
<legend class="form-heading--tables heading"><h1>Manage Users</h1></legend><br>

<%= link_to '< BACK', {:controller => "admins", :action => "index" }, class: "back--button" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="admin-manage-users ">
        <div class="table-responsive">
          <table id="admin-project-proposal-table" class="table table-hover admin-tables dt-responsive dataTable no-footer dtr-inline display nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th data-priority="1"></th>
                    <th data-priority="2">Name</th>
                    <th data-priority="3">Email</th>
                    <th data-priority="4">Country</th>
                    <th>Personal Website</th>
                    <th>Facebook</th>
                    <th>Instagram</th>
                    <th>Twitter</th>
                    <th data-priority="6">Status</th>
                    <th data-priority="5">Action</th>
                </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <% if !user.is_admin %>
                  <tr>
                    <td></td>
                    <td><strong><%= user.name%></strong></td>
                    <td><%= user.email %></td>
                    <td><%= user.country %></td>
                    <td>
                      <%= link_to user.bio_url, :target => "_blank" do %>
                        <i class="icon icon--cross" style="font-size: 3em"></i>
                      <% end %>
                    </td>

                    <td>
                    <%= link_to user.fb_url, :target=>"_blank" do %>
                      <i class="icon icon--facebook-with-circle" style="font-size: 3em"></i>
                      <% end %>
                    </td>

                    <td>
                    <%= link_to user.instagram_url, :target=>"_blank" do %>
                      <i class="icon icon--instagram-with-circle" style="font-size: 3em"></i>
                      <% end %>
                    </td>

                    <td>
                    <%= link_to user.twitter_url, :target=>"_blank" do%>
                      <i class="icon icon--twitter-with-circle" style="font-size: 3em"></i>
                      <% end %>
                    </td>

                    <td>
                      <% if !user.is_banned %>
                        <span class="label label-success">Active</span>
                      <% else %>
                        <span class="label label-danger">Banned</span>
                      <% end %>
                    </td>

                    <td>
                      <div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <% if !user.is_banned %>
                              <%= link_to banUsers_path(:id => user.id) do %>Ban<% end %>
                            <% else %>
                              <%= link_to unbanUsers_path(:id => user.id) do %>Unban<% end %>
                            <% end %>
                          </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <a href="mailto:<%= user.email %>">Email Creator</a>
                            </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>

