<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<p id="notice"><%= notice %></p>
<br>
<legend class="form-heading--tables heading"><h1>Manage Users</h1></legend><br>

<%= link_to '< BACK', {:controller => "admins", :action => "index" }, class: "back--button" %>

<table class="table-show">
  <thead>
  <tr class="tr-row">
    <th class="th-row">Email</th>
    <th class="th-row">First name</th>
    <th class="th-row">Last name</th>
    <th class="th-row">Personal Website</th>
    <th class="th-row">Facebook</th>
    <th class="th-row">Instagram</th>
    <th class="th-row">Twitter</th>
    <th class="th-row">Banned Status</th>
    <th class="th-row" colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <% if !user.is_admin %>
          <tr class="tr-row">
            <td class="td-row"><%= user.email %></td>
            <td class="td-row"><%= user.first_name %></td>
            <td class="td-row"><%= user.last_name %></td>

            <td class="td-row">
              <%= link_to user.bio_url, :target => "_blank" do %>
                <i class="icon icon--cross" style="font-size: 3em"></i>
              <% end %>
            </td>

            <td class="td-row">
            <%= link_to user.fb_url, :target=>"_blank" do %>
              <i class="icon icon--facebook-with-circle" style="font-size: 3em"></i>
              <% end %>
            </td>

            <td class="td-row">
            <%= link_to user.instagram_url, :target=>"_blank" do %>
              <i class="icon icon--instagram-with-circle" style="font-size: 3em"></i>
              <% end %>
            </td>
            <td class="td-row">
            <%= link_to user.twitter_url, :target=>"_blank" do%>
              <i class="icon icon--twitter-with-circle" style="font-size: 3em"></i>
              <% end %>
            </td>

            <td class="td-row"><% if user.is_banned %>
              <a href="#" class="btn btn-large btn-danger disabled">Yes</a>
              <% else %>
              <a href="#" class="btn btn-large btn-default disabled">No</a>
              <% end %>
            </td>
            <td class="td-row">
              <% if !user.is_banned %>
                  <b><%= link_to 'Ban', {:controller => "users", :action => "ban", :id => user.id }, {:class=>"btn btn-large btn-success", :method=>:post} %></b>
              <% else %>
                  <b><%= link_to 'Un-Ban', {:controller => "users", :action => "unban", :id => user.id } , {:class=>"btn btn-large btn-primary", :method=>:post} %></b>
              <% end %>
            </td>
            <!--<td><% link_to 'Delete', user, method: :delete%></td>-->
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<br>

