<%= render "layouts/headerLogin" %>
<%= yield %>

<!-- include bootstrap-->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">
  <div class="page-section">
    <legend class="form-heading heading--signup"> Sign Up</legend>
    <p><b>Get ready to create, innovate, and change the world.</b></p>
    <br>
    <br>
    <%= form_for :user, url: createUser_path(@user) do |f| %>
        <%= f.hidden_field :is_admin, :value => false %>
        <div class="form-field">
          <% if @user.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>        
        <div class="form-field">
          <%= f.text_field :name, class: "form-input", placeholder: "First Name & Last Name", :required => 'required' %>
          <label class="form-label" for="name">Name</label>
        </div>

        <div class="form-field">
          <%= f.email_field :email, class: "form-input", placeholder: "Email" , :required => 'required'%>
          <label class="form-label" for="email">Email</label>
        </div>
        <div class="form-field">
          <%= f.password_field :password, class: "form-input login-field login-field-password", placeholder: "Password", :id=>"password-2" , :required => 'required' %>
          <label class="form-label" for="password">Password</label>
        </div>
        <div class="form-field">
          <%= f.password_field :password_confirmation, class: "form-input login-field login-field-password", placeholder: "Password Confirmation", :id=>"password-2" , :required => 'required'%>
          <label class="form-label" for="password">Confirm Password</label>
        </div>

        <div class="form-field">
          <%= f.text_field :fb_url, class: "form-input" , :required => 'required'%>
          <label class="form-label" for="fb_url">Facebook</label>
          <small>e.g. 'brenkoh' for http://www.facebook.com/brenkoh</small>
        </div>

        <div class="form-actions">
          <%= f.submit "Create Account", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>
    <div class="form-footnote">
      <p>By signing up, you agree to our <b><%= link_to 'Terms of Use, Privacy Policy', termNCondition_path %></b> and
        <b><%= link_to 'Community Rules', communityRule_path %>.</b></p>
    </div>
    <br>
    <p><b>Already have an account? <%= link_to 'Log in', login_path %>.</b></p>
  </div>
</div>

<script>

    $('#password-2').hideShowPassword({
    // Make the password visible right away.
    show: false,
    // Create the toggle goodness.
    innerToggle: true,
    // Give the toggle a custom class so we can style it
    // separately from the previous example.
    toggleClass: 'my-toggle-class',
    // Don't show the toggle until the input triggers
    // the 'focus' event.
    hideToggleUntil: 'focus',
    // Enable touch support for toggle.
    touchSupport: Modernizr.touch
  });
</script>
<%= render "layouts/footer" %>
<%= yield %><%= yield %>