<%= render "layouts/headerLogin" %>
<%= yield %>

<div class="page-main">


  <div class="page-section">
    <legend class="form-heading heading--signup"> Sign Up</legend>
    <p><b>Get ready to create, innovate, and change the world.</b></p>
    <br>
    <br>
    <%= form_for(@user) do |f| %>
        <%= f.hidden_field :is_admin, :value => false %>
        <div class="form-field">
          <% if @user.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>        
        <div class="form-field">
          <%= f.text_field :first_name, class: "form-input", placeholder: "First Name" %>
          <label class="form-label" for="first-name">First Name</label>
        </div>
        <div class="form-field">
          <%= f.text_field :last_name, class: "form-input", placeholder: "Last Name" %>
          <label class="form-label" for="last-name">Last Name</label>
        </div>

        <div class="form-field">
          <%= f.text_field :email, class: "form-input", placeholder: "Email" %>
          <label class="form-label" for="email">Email</label>
        </div>
        <div class="form-field">
          <%= f.password_field :password, class: "form-input", placeholder: "Password" %>
          <label class="form-label" for="password">Password</label>
        </div>
        <div class="form-field">
          <%= f.password_field :password_confirmation, class: "form-input", placeholder: "Password Confirmation" %>
          <label class="form-label" for="password">Confirm Password</label>
        </div>

        <div class="form-field">
            <select name="country" class="countries" id="countryId">
              <option value="">Select Country</option>
            </select>                       
            <label class="form-label" for="country">Country</label>
          </div>                         

        <div class="form-actions">
          <%= f.submit "Create Account", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>
    <div class="form-footnote">
      <p>By signing up, you agree to our <b><%= link_to 'Terms of Use, Privacy Policy', termNCondition_path %></b> and
        <b><%= link_to 'Community Rules', communityRule_path %>.</b></p>
    </div>
    <br>
    <p><b>Already have an account? <%= link_to 'Log in', login_path %>.</b></p>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %><%= yield %>