<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= javascript_include_tag "application"%>
<p id="notice"><%= notice %></p>

<br>
<legend class="form-heading--tables heading"><h1>Manage User's Shipping Addresses</h1></legend>

<%= link_to '< BACK', {:controller => "admins", :action => "index", :id=>1 },class: "back--button" %>
<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row">Address Line 1</th>      
      <th class="th-row">Address Line 2</th>
      <th class="th-row">Country</th>
      <th class="th-row">State</th>
      <th class="th-row">City</th>
      <th class="th-row">Postal Code</th>
      <th class="th-row" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userShippingAddresses.each do |userShippingAddress| %>
      <tr class="tr-row">        
        <td class="td-row"><%= userShippingAddress.address_line_1 %></td>        
        <td class="td-row"><%= userShippingAddress.address_line_2 %></td>
        <td class="td-row"><%= userShippingAddress.country %></td>
        <td class="td-row"><%= userShippingAddress.state %>%</td>
        <td class="td-row"><%= userShippingAddress.city %></td>
        <td class="td-row"><%= userShippingAddress.postal_code %></td>      
        <td class="td-row"><%= link_to 'Edit Details', {:controller=> "user_shipping_addresses", :action => "edit", :id => userShippingAddress.id }%> </td>
        <td class="td-row"><%= link_to 'Delete Address', {:controller => "user_shipping_addresses", :action => "destroy", :id => userShippingAddress.id } %> </td>
      </tr>
      <% end %> 
  </tbody>
</table>

<br><br>
<%= link_to 'Add Shipping Address', {:controller => "user_shipping_addresses", :action => "new"},class: "button--stroke--long--add"  %><br/>