<%= stylesheet_link_tag "userpage" %>
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/headerAdmin" %>
<%= yield %>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
    <!-- Use any element to open the sidenav -->
    <div>
        <span class="nav--open" onclick="openNav()"><i class="icon icon--menu"></i>&nbsp;&nbsp;&nbsp;<%= link_to '', root_path , class: "icon icon--color icon--ybco-logomark" %></span>
    </div>

    <legend class="dash-heading heading--admin--dash">
        Welcome, <%= @current_user.first_name.capitalize %>
    </legend>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <%= image_tag("Picture1.png") %>
        </div>
        <div class="col-sm-6">
            <%= image_tag("Picture2.png") %>
        </div>
    </div>
</div>