<!--
<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= javascript_include_tag "application"%>
 	<div class="page-section">
     	<legend class="form-heading heading"> Admin Dashboard </legend>
     		Welcome home, <%= @current_user.first_name %> <%= @current_user.last_name %> !<br>			
			<%= link_to "Manage Admins", controller: "admins", action: "manage" %><br>
			<%= link_to "Manage Users", controller: "users", action: "index" %><br>
			<%= link_to "View Statistics", controller: "admins", action: "index" %>Deadlink<br>			
			<%= link_to "Manage Projects", controller: "admins", action: "index" %>Deadlink<br>
			<%= link_to "Logout", controller: "sessions", action: "destroy" %>
			<!-- Display parameters -->
			<!--<hr/>
			Inspecting Parameters
			<%=params.inspect%>
			Session ID is=<%=session[:user_id] %>
			<%= session.inspect %> 
	</div>
</div>
-->
<!--
<div class="page-main">
-->
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= javascript_include_tag "application"%>

  	<ul>
  		<li><%= link_to "HOME", controller: "admins", action: "index" %></li>
	  	<li><%= link_to "MANAGE ADMINS", controller: "admins", action: "manage" %></li>
		<li><%= link_to "MANAGE USERS", controller: "users", action: "index" %></li>
		<li><%= link_to "VIEW STATISTICS", controller: "admins", action: "index" %></li>	
		<li><%= link_to "MANAGE PROJECTS", controller: "admins", action: "index" %></li>
		<li><%= link_to "LOG OUT", controller: "sessions", action: "destroy" %></li>
	</ul>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.box {
    float: left;
    width: 200px;
    margin-left: auto;
    margin-top: auto;
    padding: 5px;
    border: 3px black;
    align-content: center;
}
</style>

<div class="page-main">
	<div class="page-section">
		<legend class="form-heading heading"> Admin Dashboard - <%= @current_user.first_name %> <%= @current_user.last_name %> </legend>
	</div>
</div>
