<%= render "layouts/headerAdmin" %>
<%= yield %>

<div class="container-fluid">
  <div class="row">
        <span class="nav--open" onclick="openNav()"><i class="icon icon--menu"></i>
          <%= link_to '', adminDashboard_path , class: "icon icon--color icon--ybco-logomark" %></span>
  </div>

  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <legend class="form-heading--tables heading">Manage Admins</legend>
    <%= link_to '< BACK', adminDashboard_path, class: "back--button"  %>
  </div>

  <div class="row">
    <table class="table-show">
      <tr class="tr-row">
          <th class="th-row"><strong>Email</strong></th>
          <th class="th-row"><strong>First name</strong></th>
          <th class="th-row"><strong>Last name</strong></th>
          <th class="th-row" colspan="3"><strong>Action</strong></th>
      </tr>

      <% User.all.each do |user| %>
       <% if user.is_admin %>
         <tr class="tr-row">
           <td class="td-row"><%= user.email %></td>
           <td class="td-row"><%= user.first_name %></td>
           <td class="td-row"><%= user.last_name %></td>
           <td class="td-row">
            <% adminsCount=User.where('is_admin = true').count %>
             <% #Session User ID is used here to verify who is the current admin login) %>
            <% if adminsCount!=1 && user.id!= session[:user_id] %>
              <b><%= link_to 'Remove Admin', deleteAdmin_path(:id => user.id) %></b>
            <% else %>
              <a href="#" class="btn btn-large btn-warning disabled">Me</a>
           <% end %>
           </td>
        </tr>
        <% end %>
       <% end %>
    </table>
  </div>

  <div class="row">
    <%= link_to 'Add New Admin', addAdmin_path, class: "button--stroke--long--add" %>
  </div>
</div>