<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= javascript_include_tag "application"%>

<p id="notice"><%= notice %></p>
<br>
<legend class="form-heading--tables heading"><h1>Manage Admins</h1></legend><br>

<%= link_to '< BACK', {:controller => "admins", :action => "index" }, class: "back--button"  %><br>

<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row"><strong>Email</strong></th>      
      <th class="th-row"><strong>First name</strong></th>
      <th class="th-row"><strong>Last name</strong></th>    
      <th class="th-row" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>      
      <% if user.is_admin %>
      <tr class="tr-row">        
        <td class="td-row"><%= user.email %></td>        
        <td class="td-row"><%= user.first_name %></td>
        <td class="td-row"><%= user.last_name %></td>                                
        <td class="td-row">
          <% adminsCount=User.where('is_admin = true').count %>
          <% if adminsCount!=1 && user.id!=session[:user_id] %>
            <b><%= link_to 'Remove Admin', {:controller => "users", :action => "removeadmin", :id => user.id } %></b><br></td>
            <% else %>
              <a href="#" class="btn btn-large btn-warning disabled">Me</a>
          <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Add New Admin', addAdmin_path, class: "button--stroke--long--add" %><br>
