<section class="project-content-section" id="fuel">
  <div class="wrap" >
    <h2 class="section-heading heading--small">Fuel Us Up</h2>
    <p>Select a reward level and support our project.</p>
    <p>
      <%= link_to 'Add Project Reward', {:controller => "project_rewards", :action => "new", :project_id => project.id}, class: "button--stroke--long" %>
    </p>
  </div>

  <ul class="fuel-rewards">
    <% all_rewards.each do |pRewards| %>
        <li class="fuel-reward js-lightbox-open" data-content-container="#fuel-lightbox-content-<%= pRewards.id %>">
          <header class="fuel-reward-header">
            <span class="fuel-reward__price">$<%= pRewards.min_amount %></span>
            <span class="fuel-reward__backers"><%= pRewards.no_of_rewards %> Backer</span>
            <span class="fuel-reward__remaining">(0 left of <%= pRewards.no_of_rewards %>)</span>
          </header>

          <div class="fuel-reward-description">
            <p><%= pRewards.description %></p>
            <!--<p>Every dollar makes a big impact. The WATERisLIFE team will send you a personal thank you e-mail so you can feel the love and stay connected. Thank you!</p>-->
          </div>

          <div class="fuel-reward-delivery">
            <span class="fuel-reward-delivery__heading">ESTIMATED DELIVERY:</span>
            <p><%= pRewards.estimated_delivery %></p>
          </div>

          <figure class="fuel-reward-thumbnail">
            <%= image_tag(pRewards.img_url, :size => "150x150",:class=> "img-circular") %>

          </figure>

          <!-- To set edit and select -->
          <div class="fuel-reward-select">
            <a href="#" class="button--stroke">Select</a>
          </div>
        </li>
    <% end %>
    <i class="temp-slider-arrow-left" style="margin-top: -75px;"></i>
    <i class="temp-slider-arrow-right" style="margin-top: -75px;"></i>
  </ul>

  <a href="#" class="fuel-pledge-another">Pledge Another Amount <i class="icon icon--chevron-right"></i></a>
</section>

<div class="lightbox js-lightbox">
  <div class="js-lightbox-close lightbox-close icon icon--lightbox-close"></div>

  <div class="js-lightbox-content">

  </div>
</div>

<% all_rewards.each do |pRewards| %>
    <div class="l--hidden" id="fuel-lightbox-content-<%= pRewards.id %>">
      <div class="fuel-lightbox-container">
        <span class="fuel-lightbox__heading">You selected:</span>
        <span class="fuel-lightbox__value">$<%= pRewards.min_amount %></span>
        <span class="fuel-lightbox__title"><%= pRewards.name %></span>

        <p class="t--small">Feeling generous? Fuel Up! <a href="#">Increase your support.</a></p>

        <div class="fuel-lightbox__description">
          <p class="t--large"><%= pRewards.description %></p>
          <!--<p class="t&#45;&#45;large">This package includes our filtration book to be sent to ten (10) families in need. And receive a personal thank you from us.</p>-->
        </div>

        <span class="fuel-lightbox__delivery">
			<span class="t--strong">Estimated delivery:</span> <%= pRewards.estimated_delivery %>
		</span>

        <a href="#" class="button--fill">Continue</a>
      </div>

    </div>
<% end %>