<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= javascript_include_tag "application"%>
<p id="notice"><%= notice %></p>


<legend class="form-heading heading"><h1>Manage Project Rewards</h1></legend>

<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row">Name</th>      
      <th class="th-row">Minimum Amount</th>
      <th class="th-row">Description</th>
      <th class="th-row">Estimated Delivery</th>
      <th class="th-row">Number of Rewards</th>
      <th class="th-row">Image URL</th>
      <th class="th-row">Project ID</th>
      <th class="th-row" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectRewards.each do |projectReward| %>
      <tr class="tr-row">        
        <td class="td-row"><%= projectReward.name %></td>        
        <td class="td-row"><%= projectReward.min_amount %></td>
        <td class="td-row"><%= projectReward.description %></td>
        <td class="td-row"><%= projectReward.estimated_delivery %>%</td>
        <td class="td-row"><%= projectReward.no_of_rewards %></td>
        <td class="td-row"><%= projectReward.img_url %></td>
        <td class="td-row"><%= projectReward.project_id %></td>
        <td class="td-row"><%= link_to 'Edit Reward', {:controller=> "project_rewards", :action => "edit", :id => projectReward.id }%> </td>
        <td class="td-row"><%= link_to 'Delete Reward', {:controller => "project_rewards", :action => "destroy", :id => projectReward.id } %> </td>
      </tr>
      <% end %> 
  </tbody>
</table>

<%= link_to 'Add Project Reward', {:controller => "project_rewards", :action => "new"} %><br/>
<%= link_to 'Back', {:controller => "admins", :action => "index", :id=>1 } %>
