<div class="page-main">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= javascript_include_tag "application"%>

  <div class="page-section">
    <legend class="form-heading heading"> Add Project Reward </legend>

      <%= form_for(@project_reward) do |f| %>              
          <%= f.hidden_field :project_id, :value => 1 %> <!-- :value will eventually be project_id instead of 1-->

          <% if @project_reward.errors.any? %>
              <div class="alert alert-danger" role="alert">
                <b><u>Errors:</u></b>
                <ul>
                  <% @project_reward.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="form-field">
            <%= f.text_field :name, class: "form-input", placeholder: "Name" %>
            <label class="form-label" for="name">Name</label>
          </div>

          <div class="form-field">
            <%= f.text_field :min_amount, class: "form-input", placeholder: "Minimum Amount" %>
            <label class="form-label" for="min_amount">Minimum Amount</label>
          </div>
          
          <div class="form-field">
            <%= f.text_field :description, class: "form-input", placeholder: "Description"  %>
            <label class="form-label" for="description">Description</label>
          </div>

          <div class="form-field">
            <%= f.text_field :estimated_delivery, class: "form-input", placeholder: "Estimated Delivery" %>
            <label class="form-label" for="estimated_delivery">Estimated Delivery</label>
          </div>

          <div class="form-field">
            <%= f.text_field :no_of_rewards, class: "form-input", placeholder: "Number of Rewards"  %> 
            <label class="form-label" for="no_of_rewards">Number of Rewards</label>       
          </div>

          <div class="form-field">
            <%= f.text_field :img_url, class: "form-input", placeholder: "Image URL"  %> 
            <label class="form-label" for="img_url">Image URL</label>       
          </div>

          <div class="form-actions">
            <td align=right><%= f.submit "Create Reward", class: "button--stroke--long" %></td>
          </div>

      <% end %>
      <br>
  	  
      <%= link_to 'Back', {:controller => "project_rewards", :action => "index" } %>

    </div>
  </div>
    