<div class="grid-container">
    <% i = 0 %>
  <% project_milestones.each do |ms|
      if( i % 2 == 0)
  %>
          <div class="grid-50"></div>
          <div class="grid-50">
            <span class="card-meta__date">$<%= ms.target_amount %></span>
            <span class="card-meta__date"><%= ms.name %></span>
            <span class="card-meta__date"><%= ms.end_date.strftime("%B %Y")%></span>
          </div>
      <% else %>
          <div class="grid-50">
            <span class="card-meta__date">$<%= ms.target_amount %></span>
            <span class="card-meta__date"><%= ms.name %></span>
            <span class="card-meta__date"><%= ms.end_date.strftime("%B %Y")%></span>
          </div>
          <div class="grid-50">


          </div>
     <% end %>
  <% i=i+1
    end %>
</div>