<div class="Timeline" id="Timeline">
  <div class="Timeline-line">
    <div class="Timeline-line-menu">
    </div>
  </div>

  
  <% i = 0 %>
  <% project_milestones.each do |ms|
      if( i % 2 == 0) %>

  <div class="Timeline-item">
    <div class="Timeline-item-inner">
      <div class="Timeline-item-top">
        <div class="Timeline-item-top-type milestone-title">
          <button class="accordion accordion-hover"><%= ms.name.upcase %><br/>
            <strong>Target Amount:</strong> $<%= number_with_precision(ms.target_amount  ,:precision => 0) %><br/>
            <strong>Start Date:</strong> <%= ms.start_date.strftime("%d %B %Y")%>
          </button>
          <div class="panel">
            
              <% if ms.project_status_id == 5%>
              <%= ms.project_status.try(:status)%>
              <% else %>
              
              <br/>
              <strong>End Date:</strong> <%= ms.end_date.strftime("@d %B %Y")%><br/>
              <strong>Amount Raised:</strong>

              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
          
  <% else %>

  <div class="Timeline-item">
    <div class="Timeline-item-inner">
      <div class="Timeline-item-top">
        <div class="Timeline-item-top-type milestone-title">
          <button class="accordion accordion-hover"><%= ms.name.upcase %><br/>
            <strong>Target Amount:</strong> $<%= number_with_precision(ms.target_amount  ,:precision => 0) %><br/>
            <strong>Start Date:</strong> <%= ms.start_date.strftime("%d %B %Y")%>
          </button>
          <div class="panel">

            <% if ms.project_status_id == 5%>
                <%= ms.project_status.try(:status)%>
            <% else %>

                <br/>
                <strong>End Date:</strong> <%= ms.end_date.strftime("%d %B %Y")%><br/>
                <strong>Amount Raised:</strong>

            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

 <% end %>
  <% i=i+1
    end %>
</div>
      
<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
  }
}
</script>