<ul class="fuel-rewards">
  <% project_rewards.each do |pr| %>
      <li class="fuel-reward js-lightbox-open" data-content-container="#fuel-lightbox-content">

        <header class="fuel-reward-header">
          <span class="fuel-reward__price"><%= pr.min_amount %></span>
          <span class="fuel-reward__backers"><%= pr.no_of_rewards %> Backers</span>

          <span class="fuel-reward__remaining">(295 left of <%= pr.no_of_rewards %>)</span>
        </header>

        <div class="fuel-reward-description">
          <p><%=pr.description %></p>
        </div>

        <div class="fuel-reward-delivery">
          <span class="fuel-reward-delivery__heading">ESTIMATED DELIVERY:</span>
          <p><%= pr.estimated_delivery %></p>
        </div>

        <figure class="fuel-reward-thumbnail">
          <%= image_tag(ProjectReward.find(pr.id).img_url) %>
        </figure>

        <div class="fuel-reward-select">
          <a href="#" class="button--stroke">Select</a>
        </div>
      </li>
  <%end %>
</ul>