<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>

<%= render "layouts/headerMetrics", :projects => @projects, :images => @project_coverImgs, :current_user => User.find(session[:user_id])   %>


<br/>
<br/>
<br/>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funders' Details</strong>
<br/>

<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row">Payment ID</th>     
      <th class="th-row">Funder Name</th>            
      <th class="th-row">Funded Amt</th>
      <th class="th-row">Reward Chosen</th>      
    </tr>
  </thead>
  <tbody>
  <% @payments.each do |x| %>
  	<tr class="tr-row">
  		<td><%= x.id %></td>
	  	<td><%= User.find(x.user_id).name %></td>
	  	<td><%= x.amount %></td>
	  	<td><%= x.project_reward_name %></td>	  		  	
  	</tr>  	
  <% end %>
  </tbody>
  
  </table>  