<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>

<%= render "layouts/headerMetrics", :projects => @projects %>
<%= yield %>


<br/>
<br/>
<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funding Overview</strong> <br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Hourly',''%>
<%= link_to 'Daily',''%>
<%= link_to 'Weekly',''%>
<%= link_to 'Monthly',''%>

<table class="table-show">
  <thead>
    <tr class="tr-row">            
      <th class="th-row">Dates</th>      
      <th class="th-row">Visits</th>
      <th class="th-row">Page Views</th>
      <th class="th-row">Audience Size</th>               
    </tr>
  </thead>
  <tbody>
  	<tr class="tr-row">
  		<td>Aug 24</td>
	  	<td>0</td>
	  	<td>0</td>
	  	<td>0</td>
  	</tr>  	
  </tbody>
  
  </table>  