<%= render "layouts/headerAdmin" %>
<%= yield %>


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<legend class="form-heading--tables heading"><h1>Manage Projects</h1></legend><br>

<%= link_to '< BACK', dashboardIndex_path , class: "back--button" %>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div id="project-proposal-table">
        <div class="table-responsive">
              <table id="admin-project-proposal-table" class="table table-hover admin-tables dt-responsive dataTable no-footer dtr-inline display nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th data-priority="1"></th>
                  <th>Submitted On <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                  <th data-priority="2">Project Title <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                  <th data-priority="5">Category <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                  <th data-priority="3">Status <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
                  <th>Project Description</th>
                  <th>Images</th>
                  <th data-priority="6">Creator's contact details</th>
                  <th data-priority="4">Action</th>
                </tr>
                </thead>
                <tbody>
                <% @projects.each do |p| %>
                    <% if p.project_status_id == 6 %>
                        <tr>
                          <td></td>
                          <td><%= p.created_at %></td>
                          <td><%= ProjectProposal.find(p.project_proposal_id).title %></td>
                          <td><%= ProjectProposal.find(p.project_proposal_id).project_category.try(:category)%></td>
                          <td>
                            <% if p.project_status.try(:status) == "Request For Go Live" %>
                                <span class="label label-warning">Request For Go Live</span>
                            <% elsif p.project_status.try(:status) == "Rejected"%>
                                <span class="label label-danger">Rejected</span>
                            <% else %>
                                <span class="label label-success">LIVE</span>
                            <% end %>


                          </td>
                          <td><%= ProjectProposal.find(p.project_proposal_id).description %></td>
                          <td>

                            <% @ProjectProposalImgs = ProjectProposal.find(p.project_proposal_id).project_proposal_imgs %>
                            <% @ProjectProposalImgs.each do | pImg | %>
                                <%= image_tag(pImg.img_url,:class=>"img-circular-project") %>
                            <% end %>

                          </td>
                          <td>
                            <%= User.find(Project.find(p.id).user_id).name %><br/>
                            <%= User.find(Project.find(p.id).user_id).email %><br/>

                          </td>
                          <td>
                            <div class="btn-group">
                              <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <%= link_to approveLive_path(:id => p.id) do %>
                                      Accept
                                  <% end %>
                                </li>
                                <li>
                                  <%= link_to rejectLive_path(:id => p.id) do %>
                                      Reject
                                  <% end %>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="mailto:<%= User.find(p.user_id).email %>?subject=<%= ProjectProposal.find(p.project_proposal_id).title %>">Email Creator</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>