<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<section class="project-content-section" id="team">
  <%= render "project_members/member", :all_members =>  @project_members, :project => @project %>
</section>

<section class="project-content-section" id="fuel">
  <%= render "project_rewards/reward", :all_rewards =>  @project_rewards, :project => @project %>
</section>

<section class="project-content-section" id="timeline">
<%= render "project_milestones/milestone", :all_milestones =>  @project_milestones, :project => @project , :last_milestone => @project_milestones_last, :project_proposal => @project_proposal%>
</section>