<%= javascript_include_tag "edit-project.js"%>

<%= render "layouts/headerUser", :projects => @projects, :images => @project_coverImgs %>

<main class="page-main" id="page-main">
  <section class="project-hero" id="overview" style="overflow:initial;">
    <%= render "projects/overview", :project_id => @project.id, :project_proposal => @project_proposal, :project_categories => @project_categories, :current_milestone => @current_milestone %>
    <%= render "projects/coverpage", :project_id => @project.id, :project_proposal => @project_proposal, :project_proposal_imgs => @project_proposal_imgs %>

    <div class="project-fuel">
<<<<<<< Updated upstream
    <% payments = Payment.where(:project_milestone_id=>@current_milestone.id).sum(:amount) %>
    <% percentage=(payments/@current_milestone.target_amount)*100 %>
      <div class="project-fuel-bar js-project-fuel-bar" data-fuel="<%=percentage%>%">
=======
      <div class="project-fuel-bar js-project-fuel-bar" data-fuel="30%">
>>>>>>> Stashed changes
        <div class="project-fuel-bar__text">
          <%=number_with_precision(percentage, :precision => 1)%>% funded
        </div>
      </div>
    </div>
  </section>

  <article class="project-content">
    <div id="project-navigation-sticky-wrapper" class="sticky-wrapper">
      <nav class="project-navigation list-horizontal-scroller" id="project-navigation">
      <ul class="list--horizontal">
        <li class="list-item current"><a href="#overview">Overview</a></li>
        <li class="list-item"><a href="#about">About</a></li>
        <!--<li class="list-item"><a href="#details">Details</a></li>-->
        <li class="list-item"><a href="#updates">Updates</a></li>
        <li class="list-item"><a href="#team">Team</a></li>
        <li class="list-item"><a href="#fuel">Fund</a></li>
        <li class="list-item"><a href="#timeline">Timeline</a></li>
      </ul>
    </nav>
    </div>

    <section class="project-content-section" id="about">
     <div class="wrap">
      <div class="grid-container">
       <div class="grid-65">
        <div class="project-stats grid-container">
         <div class="project-funding-goal">
                <!-- <span id="project-funding-goal" contenteditable>$10,000</span>

                <span class="edit-save-button js-edit-save-button" id="project-funding-goal-save">
                  Done
                </span>-->
              </div>

              <!-- <div class="project-funding-goal-overlay" id="project-funding-goal-overlay"></div> -->

              <div class="grid-30">
                <div class="project-stat">

                  <%  if !@current_milestone.nil? %>
                      <% no_Of_Days = @current_milestone.end_date.to_date - Date.today %>
                      <span class="project-stat__data"><%= no_Of_Days.to_i %></span>
                      <span class="project-stat__description">Days remaining</span>
                  <% else %>
                      <% eno_Of_Days = @project_proposal.estimated_end_date - Date.today %>
                      <span class="project-stat__data"><%= eno_Of_Days.to_i %></span>
                      <span class="project-stat__description">Days remaining</span>
                 <% end %>
                </div>
              </div>              
              <div class="grid-30 push-5">
                <div class="project-stat">                
                  <span class="project-stat__data"><%= number_with_precision(percentage,:precision => 1) %>%</span>
                  <span class="project-stat__description">Funded</span>
                </div>
              </div>
              <div class="grid-30 push-10">
                <div class="project-stat" id="project-funding">
                  <span class="project-stat__data">$<%=number_with_precision(payments, :precision => 2)%></span>
                  <span class="project-stat__description">of

                    <%  if !@current_milestone.nil? %>
                      <span id="project-funding-value">$<%= number_with_precision(@current_milestone.target_amount, :precision => 2) %> </span> funded</span>
                  <% else %>
                      <span id="project-funding-value">$<%= number_with_precision(@project_proposal.estimated_amt_raise, :precision => 2)  %> </span> funded</span>
                 <% end %>

                 <!-- <span class="edit-button js-edit-button" id="project-funding-goal-edit" data-container="project-funding">
                    <i class="icon icon--edit"></i>
                    Edit
                  </span>
                  -->
                </div>
              </div>
            </div>

            <div id="project-about">
             <div class="project-about-title" id="project-about-title">
               <h2 class="heading--small">
                  About the Project
                </h2>

                <span class="edit-button js-edit-button" id="project-description-edit" data-container="project-about">
                  <i class="icon icon--edit"></i>
                  Edit
                </span>
              </div>

              <div class="project-description">

                <%= form_for :project_proposal, url: updateDescription_path(:id => @project_proposal.id), remote: true do |f| %>
                    <%= f.text_area :description, :required => 'required' ,:class => "form-input borderless-bottom t--large wordwrapper", id: "project-description", rows: "10", :disabled=>true do %>
                        <!--<p class="t--large wordwrapper"><%= @project_proposal.description %></p>-->
                    <% end %>
              </div>

             </div>
                    <%= f.button :submit do %>
                     <span class="edit-save-button " id="project-description-save">
                       Done
                     </span>
                    <% end %>
                <% end %>
                </div>

          <div class="grid-25 push-10">
            <ul class="list">
              <li class="list-item fuel-button-container">
                <% if @project.project_status_id == 1 %>
                <%= link_to liveProjectRequest_path(:id => @project.id), :class =>"fuel-button " do %>
                <!--<a href="#fuel" class="fuel-button js-scrollto-button" data-scroll-target="#fuel">-->
                  <span class="fuel-button__content">
                    <span class="fuel-button__cta">Submit</span>
                    <span class="fuel-button__text">This Project</span>
                      <i class="icon icon--chevron-right"></i>
                  </span>
                <!--</a>-->
                  <% end %>
                <% elsif  @project.project_status_id == 6 %>
                    <%= link_to '#', :class =>"fuel-button " do %>
                        <!--<a href="#fuel" class="fuel-button js-scrollto-button" data-scroll-target="#fuel">-->
                        <span class="fuel-button__content">
                    <span class="fuel-button__cta">Live</span>
                    
                      <i class="icon icon--chevron-right"></i>
                  </span>
                        <!--</a>-->
                    <% end %>

                <% elsif  @project.project_status_id == 7 %>
                    <%= link_to '#', :class =>"fuel-button" do %>
                        <!--<a href="#fuel" class="fuel-button js-scrollto-button" data-scroll-target="#fuel">-->
                        <span class="fuel-button__content">

                          <span class="fuel-button__text">IS</span>
                    <span class="fuel-button__cta">Live</span>

                      <i class="icon icon--chevron-right"></i>
                  </span>
                        <!--</a>-->
                    <% end %>
                <% end %>
              </li>

              <li class="list-item">
                <ul class="list--narrow">
                  <li class="list-item">
                    <a href="#" class="project-location">
                      <i class="icon icon--location-pin"></i>
                       <%= @project.country %>
                    </a>
                  </li>

                  <li class="list-item">
                    <span class="project-meta-text">Share</span>
                    <ul class="project-share-buttons">
                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--facebook"></i>
                        </a>
                      </li>

                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--youtube"></i>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--<section class="project-content-section" id="details">
      <% render "projects/inspirations", :project_id => @project.id, :project_inspiration => @project_inspirations %>
    </section>-->

    <section class="project-content-section" id="updates">
      <div class="wrap" style="position: relative;">
        <h2 class="section-heading heading--small">Updates
        </h2>
        <div class="js-lightbox-open" data-content-container="#fuel-lightbox-content-addupdate">
          <%= image_tag("defaultprofile.png", :class => "img-circular-avatar") %>
        </div>

      </div>

      <%= render "projects/updates", :project_id => @project.id, :project_updates => @project_updates %>

      <a href="#" class="project-content__load-more">Load More</a>
    </section>

    <section class="project-content-section" id="team">
      <%= render "projects/members", :project_id => @project.id, :project_members => @project_members %>
    </section>

    <section class="project-content-section" id="fuel">
      <div class="wrap">
        <h2 class="section-heading heading--small">Fund Us
          <div class="js-lightbox-open" data-content-container="#fuel-lightbox-content-addreward">
            <%= image_tag("defaultprofile.png", :class => "img-circular-avatar") %>
          </div>
        </h2>
      </div>

      <p>Select a reward level and support our project.</p>
      </div>

      <%= render "projects/rewards", :project_id => @project.id, :project_rewards => @project_rewards %>

      <a href="#" class="fuel-pledge-another">Pledge Another Amount <i class="icon icon--chevron-right"></i></a>
    </section>
    <section class="project-content-section" id="timeline">
      <h2 class="heading--small section-heading">
        Timeline
      </h2>


      <div class="wrap">
      <div class="diamond section-header">
            <div class="diamond-inner">
        <%  if !@current_milestone.nil? %>
          
              <span class="flag"></span>
              <!--<p class="t--large wordwrapper"><%=@project_proposal.title.split.map(&:capitalize).join(' ') %>asdasdas</p>-->
              <% no_Of_Days = @current_milestone.end_date.to_date - Date.today.to_date %>
              <div class="wordwrapper diamondamount">$<%=@total_target_amount %></div>
              <div class="wordwrapper diamondtitle"><%=@project_proposal.title.split.map(&:capitalize).join(' ') %></div>
              <p class="wordwrapper diamonddays"><%= no_Of_Days.to_i %> DAYS LEFT</p>
            </div>
          </div>
        <% end %>

          <div class="grid-container">
          <%= render "projects/milestones", :project_id => @project.id, :project_milestones => @project_milestones %>


            </div>
            <div class="grid-25">
            </div>

            <div class="grid-50">



            </div>

            <div class="grid-25">

            </div>
          </div>

          <div class="js-lightbox-open" data-content-container="#fuel-lightbox-content-addmilestone">
            <%= image_tag("newMileStoneBtn.png") %>
          </div>

      </div>
    </section>
    <section class="project-content-section" id="discuss">
      <!--a href="#" class="project-content__load-more">Load More</a-->
    </section>
  </article>
</main>

<!-- ALL THE FUCKING LIGHTBOX STARTS HERE -->
<div class="lightbox js-lightbox">
  <div class="js-lightbox-close lightbox-close icon icon--lightbox-close"></div>

  <div class="js-lightbox-content">

  </div>
</div>

<div class="lightbox-overlay js-lightbox-overlay js-lightbox-close"></div>

<% @project_members.each do |pm| %>
    <div class="l--hidden" id="team-lightbox-content-<%= pm.pm_id %>">
      <div class="team-lightbox-top">
        <div class="grid-container">

          <div class="grid-30">
            <div class="team-lightbox-image lightbox-pic">

              <% if User.find(pm.user_id).profile_pic.blank? %>
                  <%= image_tag('defaultprofile.png', :class => "lightbox-pic") %>
              <% else %>
                  <%= image_tag(User.find(pm.user_id).profile_pic, :class => "lightbox-pic") %>
              <% end %>

            </div>
          </div>


          <div class="grid-60 push-5">
            <span class="team-lightbox__name"><%= User.find(pm.user_id).name %></span>

            <ul class="meta-tags">
              <li class="meta-tag">

                <% bio = User.find(pm.user_id).bio_url %>
                <% if !(bio.nil? || bio.empty?) %>
                    <%= link_to bio, :target => "_blank" do %>
                        <i class="icon icon--visit"></i>
                        <%= bio %>
                    <% end %>
                <% end %>
              </li>
            </ul>

            <div class="team-lightbox-social-links">
              <% twitter = pm.twitter_url %>
              <% fb = pm.facebook_url %>
              <% instagram = pm.instagram_url %>
              <% if !(twitter.nil? || twitter.empty?) %>
                  <%= link_to twitter, :target => "_blank" do %>
                      <i class="icon icon--twitter-with-circle"></i>
                  <% end %>
              <% end %>
              <% if !(instagram.nil? || instagram.empty?) %>
                  <%= link_to instagram, :target => "_blank" do %>
                      <i class="icon icon--instagram-with-circle"></i>
                  <% end %>
              <% end %>
              <% if !(fb.nil? || fb.empty?) %>
                  <%= link_to fb, :target => "_blank" do %>
                      <i class="icon icon--facebook-with-circle"></i>
                  <% end %>
              <% end %>
            </div>

            <%= form_for :project_member, url: updateMemberDetails_path do |p| %>
                <%= p.hidden_field :id, :value => ProjectMember.find(pm.pm_id).id %>
                <%= p.hidden_field :project_id, :value => @project.id %>

                <div class="form-field">
                  <%= p.text_field :role, class: "form-input form-textarea", :value => pm.role %>
                  <label class="form-label" for="role">Role</label>
                </div>

                <div class="form-field">
                  <%= p.text_area :description, class: "form-input form-textarea",rows: "5", :value => pm.description,  :id=>"project-description", :maxlength=>"1000" %>
                  <label class="form-label" for="description">Description</label>
                </div>

                <div class="form-field">
                  <%= p.text_area :sub_description, class: "form-input form-textarea", rows: "5", :value => pm.sub_description ,  :id=>"project-description", :maxlength=>"1000"%>
                  <label class="form-label" for="sub_description">Sub Description</label>
                </div>

                <div class="form-actions">
                  <%= p.submit 'Update Profile', :class => "button--fill--black button--full" %>
                </div>
            <% end %>

          </div>
        </div>

      </div>

      <div class="team-lightbox-expertise">
        <span class="team-lightbox-expertise__heading">Expertise</span>
        <% userExpertises = UserExpertise.select(:expertise_name).where(:user_id => pm.user_id).uniq %>
        <ul class="meta-tags">
          <% if !userExpertises.nil? %>
              <% userExpertises.each do |uE| %>
                  <li class="meta-tag"><%= uE.expertise_name %></li>
              <% end %>
          <% end %>
          <li class="meta-tag endorse">
            <%= link_to newExpertise_path(:user_id => pm.user_id, :project_id => @project.id) do %>
                Endorse an Expertise +
            <% end %>
          </li>
        </ul>
      </div>
    </div>
<% end %>

<% @project_rewards.each do |pr| %>
    <div class="l--hidden" id="fuel-lightbox-content-<%= pr.id %>">
      <div class="fuel-lightbox-container">
        <span class="fuel-lightbox__heading">You selected:</span>
        <span class="fuel-lightbox__value">$<%= pr.min_amount %></span>
        <span class="fuel-lightbox__title"><%= pr.name %></span>

        <p class="t--small">Feeling generous? Fuel Up! <a href="#">Increase your support.</a></p>

        <div class="fuel-lightbox__description">
          <p class="t--large">This package includes our <%= pr.name %> to be sent to (<%= pr.no_of_rewards %>) families in need. And
            receive a personal thank you from us.</p>
        </div>

        <span class="fuel-lightbox__delivery">
    <span class="t--strong">Estimated delivery:</span> <%= pr.estimated_delivery.strftime("%B %Y") %>
    </span>

        <a href="#" class="button--fill">Continue</a>
      </div>
    </div>

<% end %>

<div class="l--hidden" id="fuel-lightbox-content-addreward">
  <div class="fuel-lightbox-container">
    <legend class="form-heading heading">Add Reward</legend>
    <span class="fuel-lightbox__heading">Add new reward base</span>
    <%= form_for :project_reward, url: createProjectReward_path(@projectReward) do |f| %>

        <%= f.hidden_field :project_id, :value => @project.id %>

        <div class="form-field">
          <%= f.text_field :name, class: "form-input", placeholder: "Name" , :required => 'required' %>
          <label class="form-label" for="name">Name</label>
        </div>

        <div class="form-field">
          <%= f.number_field :min_amount, step: 0.01, class: "form-input", placeholder: "Minimum Amount", :required => 'required' %>
          <label class="form-label" for="min_amount">Minimum Amount</label>
        </div>

        <div class="form-field">
          <%= f.text_field :description, class: "form-input", placeholder: "Description" , :required => 'required' %>
          <label class="form-label" for="description">Description</label>
        </div>

        <div class="form-field">
            <%= f.date_select :estimated_delivery, { start_year:Date.today.year, order: [:month, :year] , :discard_day => true}, :class => "btn btn-default dropdown-toggle", :required => 'required'%>
          <label class="form-label" for="estimated_delivery">Estimated Delivery</label>
        </div>

        <div class="form-field">
          <%= f.number_field :no_of_rewards, class: "form-input", placeholder: "Number of Rewards" , :required => 'required' %>
          <label class="form-label" for="no_of_rewards">Number of Rewards</label>
        </div>

        <div class="form-field">
          <%= f.file_field :img_url, class: "form-input", placeholder: "Image URL" , :required => 'required' %>
          <label class="form-label" for="img_url">Image URL</label>
        </div>

        <div class="form-actions">
          <td align=right><%= f.submit "Create Reward", class: "button--stroke--long" %></td>
        </div>
    <% end %>
  </div>
</div>

<div class="l--hidden" id="fuel-lightbox-content-addupdate">
  <div class="fuel-lightbox-container">
    <legend class="form-heading heading">Add Update</legend>
    <span class="fuel-lightbox__heading">Add new update </span>
    <%= form_for :project_update, url: createProjectUpdate_path(@ProjectUpdate) do |f| %>
        <%= f.hidden_field :project_id, :value => @project.id %>

        <div class="form-field">
          <%= f.text_field :title, class: "form-input", placeholder: "Title", :required => 'required' %>
          <label class="form-label" for="name">Title</label>
        </div>

        <div class="form-field">
          <%= f.text_area :description, rows: "5", class: "form-input form-textarea", :id => "update-description", :maxlength => "1000", :required => 'required' %>
          <label class="form-label" for="description">Description</label>
          <div class="textarea-character-limit js-textarea-limit" data-for="update-description" data-limit="1000">
            <span class="textarea-character-limit__count">1000</span> characters left
          </div>
        </div>

        <div class="form-field">
          <%= f.file_field :img_url, class: "form-input", placeholder: "Image URL" %>
          <label class="form-label" for="img_url">Image URL</label>
        </div>

        <div class="form-actions">
          <td align=right><%= f.submit "Create Update", class: "button--stroke--long" %></td>
        </div>
    <% end %>
  </div>
</div>

<div class="l--hidden" id="fuel-lightbox-content-addmilestone">
    <div class="fuel-lightbox-container">
      <legend class="form-heading heading">Add Milestone</legend>
      <span class="fuel-lightbox__heading">Add new milestone </span>
      <%= form_for :project_milestone, url: createProjectMilestone_path(@projectMilestone) do |f| %>

          <%= f.hidden_field :project_id, :value => @project.id %>
          <%= f.hidden_field :project_status_id, :value => 2 %>

          <div class="form-field">
            <%= f.text_field :name, class: "form-input", placeholder: "Name of milestone", :required => 'required' %>
            <label class="form-label" for="name">Milestone name</label>
          </div>

          <div class="form-field">
            <%= f.date_select :start_date, { start_year:Date.today.year, order: [:month, :year] , :discard_day => true}, :class => "btn btn-default dropdown-toggle", :required => 'required'%>
            <label class="form-label" for="start_date">Start Date</label>
          </div>

          <div class="form-field">
            <%= f.date_select :end_date, { start_year:Date.today.year, order: [:month, :year] , :discard_day => true}, :class => "btn btn-default dropdown-toggle", :required => 'required'%>
            <label class="form-label" for="end_date">End Date</label>
          </div>

          <div class="form-field">
            <%= f.number_field :target_amount, class: "form-input", step: 0.01, :required => 'required' %>
            <label class="form-label" for="name">Target Amount</label>
          </div>

          <div class="form-actions">
            <td align=right><%= f.submit "Add Milestone", class: "button--stroke--long" %></td>
          </div>
      <% end %>
    </div>
  </div>



<%= render "layouts/footer" %>
<%= yield %>
