<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<main class="page-main">
  <section class="project-hero" id="overview">
    <%= render "projects/overview", :project_id => @project.id, :project_proposal=> @project_proposal, :project_categories => @project_categories%>
    <%= render "projects/coverpage",  :project_proposal=> @project_proposal, :project_proposal_imgs => @project_proposal_imgs  %>
    <div class="project-fuel">
      <div class="project-fuel-bar js-project-fuel-bar" data-fuel="50%">
        <div class="project-fuel-bar__text">
          50% fueled
        </div>
      </div>
    </div>
  </section>


      <ul class="list--horizontal">
        <li class="list-item current"><%= link_to 'Overview', "#overview" %></li>
        <li class="list-item"><%= link_to 'About', "#about" %></li>
        <li class="list-item"><%= link_to 'Detail', "#details" %></li>
        <li class="list-item"><%= link_to 'Updates', "#updates" %></li>
        <li class="list-item"><%= link_to 'Team', "#team" %></li>
        <li class="list-item"><%= link_to 'Fuel', "#fuel" %></li>
        <li class="list-item"><%= link_to 'Timeline', "#timeline" %></li>
        <li class="list-item"><%= link_to 'Discuss', "#discuss" %></li>
      </ul>

    <section class="project-content-section" id="about">
      <div class="wrap">
        <div class="grid-container">
          <div class="grid-65">
            <div class="project-stats grid-container">
              <div class="project-funding-goal">
                <span id="project-funding-goal" contenteditable>$10,000</span>

                <span class="edit-save-button js-edit-save-button" id="project-funding-goal-save">
									Done
								</span>
              </div>

              <div class="project-funding-goal-overlay" id="project-funding-goal-overlay"></div>

              <div class="grid-30">
                <div class="project-stat">
                  <span class="project-stat__data">20</span>
                  <span class="project-stat__description">Days remaining</span>
                </div>
              </div>
              <div class="grid-30 push-5">
                <div class="project-stat">
                  <span class="project-stat__data">50%</span>
                  <span class="project-stat__description">Fueled</span>
                </div>
              </div>
              <div class="grid-30 push-10">
                <div class="project-stat" id="project-funding">
                  <span class="project-stat__data">$5,000</span>
                  <span class="project-stat__description">of <span id="project-funding-value">$10,000</span> fueled</span>

                  <span class="edit-button js-edit-button" id="project-funding-goal-edit" data-container="project-funding">
										<i class="icon icon--edit"></i>
										Edit
									</span>
                </div>
              </div>
            </div>

            <div id="project-about">
              <div class="project-about-title" id="project-about-title">
                <h2 class="heading--small">
                  About the Project
                </h2>

                <span class="edit-button js-edit-button" id="project-description-edit" data-container="project-about">
									<i class="icon icon--edit"></i>
									Edit
								</span>
              </div>

              <div class="project-description" id="project-description">
               <p class="t--large"><%= @project_proposal.description %></p>
               <p> </p>
              </div>
            </div>

            <span class="edit-save-button js-edit-save-button" id="project-description-save">
							Done
						</span>
          </div>

          <div class="grid-25 push-10">
            <ul class="list">
              <li class="list-item fuel-button-container">
                <a href="#fuel" class="fuel-button js-scrollto-button" data-scroll-target="#fuel">
									<span class="fuel-button__content">
										<span class="fuel-button__cta">Fuel</span>
										<span class="fuel-button__text">This Project</span>
                      <i class="icon icon--chevron-down"></i>
									</span>
                </a>
              </li>

              <li class="list-item">
                <ul class="list--narrow">
                  <li class="list-item">
                    <a href="#" class="button--stroke--full">
                      <span>Discuss</span>
                    </a>
                  </li>

                  <li class="list-item">
                    <a href="#" class="project-location">
                      <i class="icon icon--location-pin"></i>
                      <%= @project.state %> , <%= @project.city %> , <%= @project.country %>
                    </a>
                  </li>

                  <li class="list-item">
                    <span class="project-meta-text">Share</span>
                    <ul class="project-share-buttons">
                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--facebook"></i>
                        </a>
                      </li>

                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--twitter"></i>
                        </a>
                      </li>

                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--youtube"></i>
                        </a>
                      </li>

                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--pinterest"></i>
                        </a>
                      </li>

                      <li class="project-share-button">
                        <a href="#">
                          <i class="icon icon--google-plus"></i>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  <section class="project-content-section" id="details">
    <%= render "projects/inspirations", :project_id => @project.id, :project_inspiration => @project_inspirations %>
  </section>

  <section class="project-content-section" id="team">
    <%= render "projects/members", :project_id => @project.id, :project_members => @project_members %>
  </section>

</main>

<div class="lightbox js-lightbox">
  <div class="js-lightbox-close lightbox-close icon icon--lightbox-close"></div>

  <div class="js-lightbox-content">

  </div>
</div>
<div class="lightbox-overlay js-lightbox-overlay js-lightbox-close"></div>