<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/headerUser", :projects=>@projects, :images =>  @project_coverImgs%>


<main class="page-main">
		<section class="project-content-section" id="fuel">
			<ul class="fuel-rewards">
				<li class="fuel-reward js-lightbox-open" data-content-container="#fuel-lightbox-content">
					

					<div class="fuel-reward-select">
						<a href="#" class="button--stroke">Select</a>
					</div>
				</li>
			</ul>
	</section>
</main>

<div class="lightbox js-lightbox">
	<div class="js-lightbox-close lightbox-close icon icon--lightbox-close"></div>
	<div class="js-lightbox-content">
	</div>
</div>
<div class="lightbox-overlay js-lightbox-overlay js-lightbox-close"></div>

<div class="l--hidden" id="fuel-lightbox-content">
	<div class="fuel-lightbox-container">
	<!--
		<legend class="form-heading heading"> Edit Profile </legend>
		<span class="fuel-lightbox__heading">Upload your profile picture</span>
		<span class="fuel-lightbox__title">Gift of water to ten (10) families</span>

		<p class="t--small">lorem<a href="#">Loremmasdas</a></p>

		<div class="fuel-lightbox__description">
			<p class="t--large">asdjasdkjd</p>
		</div>

		<span class="fuel-lightbox__delivery">
			<span class="t--strong">HAHAHA</span> May 2015
		</span>

		<a href="#" class="button--fill">asdkjasd</a>
		-->

		<%= form_for :user,url: user_path(@user),method: :patch do |f| %>    
        <div class="form-field">

          <% if @user.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
        </div>        


        <div class="form-field">
            <%= f.file_field :profile_pic, class: "form-input", value: @user.profile_pic %>
            <label class="form-label" for="profile_pic">Profile Picture (File Size: < 2MB)</label>
        </div>
        <% current_user=User.find(session[:user_id]) %>        
        <% if current_user.profile_pic.present? %> <!-- check if profile pic exists -->
        <% url = current_user.profile_pic%> <!-- get entire url-->
        <% index=url.to_s.rindex('/') %> <!-- get last index of '/'-->
        <div align=center> <%= url.to_s[index+1..url.to_s.length] %> </div>
        <div align=center><%= image_tag(current_user.profile_pic,:class=> "img-circular") %></div> 
        <% end %>

        <div class="form-actions">
          <%= link_to "Submit" , updateProfilePic_path(@user.id), class: "button--stroke--long" %>
        </div>

        <% end %> 
	</div>
</div>
