<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>

<%= render "layouts/headerUser", :projects=>@projects, :images =>  @project_coverImgs%>

<main class="page-main" id="page-main">  
 <section class="page-section--hero page-section--sky-blue l--full-height" style="background-image: url('/assets/home-hero-1.jpg');"> 

  <div class="l--vertical-center l--half-width--right">
   <header>
    <h2 class="section-heading heading--large">
    <span class="subheading l--block">Work on</span> ideas that<br> matter
    </h2>
   </header>

   <%= link_to 'Get Started', "GetStarted", class: "button--link", rel: "internal" %>
  </div>
 </section>
 </main>


