<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
  <%= stylesheet_link_tag "flickity/flickity.css" %>
  <%= javascript_include_tag "application"%>
<p id="notice"><%= notice %></p>

<br>
<legend class="form-heading--tables heading"><h1>Manage Project Inspirations</h1></legend>
<br>
<%= link_to '< BACK', {:controller => "admins", :action => "index", :id=>1 }, class: "back--button" %>
<br>

<table class="table-show">
  <thead>
    <tr class="tr-row">      
      <th class="th-row">Project Inspiration ID</th>      
      <th class="th-row">Project Inspiration Title</th>
      <th class="th-row">Description</th>
      <th class="th-row">Image URL</th>
      <th class="th-row">Inspiration Caption</th>
      <th class="th-row" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectInspirations.each do |projectInspiration| %>
      <tr class="tr-row">        
        <td class="td-row"><%= projectInspiration.id %></td>        
        <td class="td-row"><%= projectInspiration.title %></td>
        <td class="td-row"><%= projectInspiration.description %></td>
        <td class="td-row"><%= projectInspiration.img_url %>%</td>
        <td class="td-row"><%= projectInspiration.caption %>%</td>
        <td class="td-row"><%= link_to 'Edit Inspiration', {:controller=> "project_inspirations", :action => "edit", :id => projectInspiration.id }%> </td>
        <td class="td-row"><%= link_to 'Delete Inspiration', {:controller => "project_inspirations", :action => "destroy", :id => projectInspiration.id } %> </td>
      </tr>
      <% end %> 
  </tbody>
</table>

<br>
<br>

<%= link_to 'Add Project Inspiration', {:controller => "project_inspirations", :action => "new"}, class: "button--stroke--long--add" %><br/>

