<%= render "layouts/headerLogin" %>
<%= yield %>

<!-- include bootstrap-->
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">
  <div class="page-section">
    <legend class="form-heading heading--login">Log In</legend>
    <strong>TIP: </strong>Login with your registered email and password.
    <%= form_tag(loginProcess_path) do |f| %>

        <div class="form-field">
          <%= email_field_tag :email, nil,class: "form-input", :required => 'required'%>
          <label class="form-label" for="email">Email 
            <label style="color:red;"><%= '- '.to_s + flash[:alert] if !flash[:alert].nil? %></label>
          </label>
        </div>

        <div class="form-field">
          <%= password_field_tag :password,nil, class: "form-input", :required => 'required'%>
          <label class="form-label" for="password">Password 
          <label style="color:red;"><%=  '- '.to_s + flash[:alert] if flash[:alert].to_s.include?("password") %></label>
          </label>
        </div>
        <div class="form-actions">
          <%= submit_tag "LOGIN", class: "button--stroke--long" %><br><br>
          Need an account? <%= link_to "Sign Up", signup_path %><br>
          Forget your password? <%= link_to "Reset Password", userResetPasswordPage_path %>
        </div>
    <% end %>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>