<%= render "layouts/headerLogin" %>
<%= yield %>

<!-- include bootstrap-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">
  <div class="page-section">
    <legend class="form-heading heading--login">Reset Password</legend>
    <strong>TIP: </strong>Enter the email you registered with.
    <%= form_for :user, url: userResetPassword_path do |f| %>

        <div class="form-field">
          <%= email_field_tag :email, nil,class: "form-input", :required => 'required' %>
          <label class="form-label" for="email">Email  <%= '- '.to_s + flash[:alert] if !flash[:alert].nil? %> </label>
        </div>

        <div class="form-actions">
          <%= submit_tag "RESET", class: "button--stroke--long" %>
          <br><br>
          <%= link_to "Back to Login", login_path %>
        </div>
    <% end %>
  </div>
</div>

<%= render "layouts/footer" %>
<%= yield %>