<%= render "layouts/headerUser" %>
  <%= yield %>
<div class="page-main">
  

  <div class="page-section">
    <legend class="form-heading heading--login"> Reset Password </legend>
            <br>
            <strong>TIP: </strong>Enter the email you registered with.
      <%= form_for :user,controller:'users',action:'resetpass',method: :post do |f| %>  
          <% if flash[:alert] %>
              <div class="alert alert-danger" role="alert">
                <b><u>Errors:</u></b>
                <ul>
                  <li><%= flash[:alert] %></li>
                </ul>
              </div>
          <% end %>
          <p>
          <div class="form-field">
            <%= text_field_tag :email, nil,class: "form-input" %>
            <label class="form-label" for="email">Email</label>
          </div>
          </p>         

          <p>
          <div class="form-field">
            <%= text_field_tag :first_name, nil,class: "form-input" %>
            <label class="form-label" for="email">First Name</label>
          </div>
          </p>         

          <p>
          <div class="form-field">
            <%= text_field_tag :last_name, nil,class: "form-input" %>
            <label class="form-label" for="email">Last Name</label>
          </div>
          </p>         

          <p>
          <div class="form-actions">
            <%= submit_tag "RESET", class: "button--stroke--long" %>
          </div>
          </p>

          <p>
            <div class="form-actions">
              Have an account? <%= link_to "Log In", login_path%><br>
              <%= link_to "Back", controller: "sessions", action: "new", class: "button--stroke--long" %><br>              
            </div>
          </p>
      <% end %>

</p>
  </div>
</div>

<%= render "layouts/footer" %>
  <%= yield %>