<%= render "layouts/headerLogin" %>
<%= yield %>

<!-- include bootstrap-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">


  <div class="page-section">
    <legend class="form-heading heading--signup"> Make Payment</legend>    
    <br>
    <br>
    <%= form_for :payment, url: processPayment_path(@payment) do |f| %>               
        <%= f.hidden_field :pr_id, :value => @project_reward.id %>      
        <%= f.hidden_field :project_reward_id, :value => @project_reward.id %>      
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :user_name, :value => @user.name %>                
        <%= f.hidden_field :user_shipping_address_id, :value =>@user_shipping_address.id %>        
        <div class="form-field">
          <!--<%# if @payment.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <%# @payment.errors.full_messages.each do |message| %>
                        <li><%#= message %></li>
                    <%# end %>
                  </ul>
                </div>
              </div>
          <%# end %> 
        </div> -->        
        
        <figure class="fuel-reward-thumbnail">
          <% image_tag(@project_reward.img_url,:class=> "img-circular") %>
        </figure>

        <div class="form-field">
          <%= f.text_field :project_reward_name, :readonly=>true,:value=>@project_reward.name ,class: "form-input", placeholder: "Project Reward" %>
          <label class="form-label" for="name">Project Reward Name</label>
        </div>

        <div class="form-field">
          <%= f.text_field :amount,:readonly=>true,:value=>@project_reward.min_amount, class: "form-input", placeholder: "Amount" %>
          <label class="form-label" for="email">Amount ($)</label>          
        </div>
        
        <div class="form-actions">
          <%= f.submit "Submit", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>    
</div>

<%= render "layouts/footer" %>
<%= yield %><%= yield %>