<%= render "layouts/headerUser", :projects => @projects, :images => @project_coverImgs %>

<!-- include bootstrap-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">


  <div class="page-section">
    <legend class="form-heading heading--signup"> Make Payment</legend>    
    <br>
    <br>
    <%= form_for :payment, url: processPayment_path(@payment) do |f| %>               
        <%= f.hidden_field :pr_id, :value => @project_reward.id %>      
        <%= f.hidden_field :project_id, :value => @project_reward.project_id %>      
        <% if !@current_milestone.nil? %>
          <%= f.hidden_field :project_milestone_id, :value => @current_milestone.id %>      
        <% end %>
        <%= f.hidden_field :project_reward_id, :value => @project_reward.id %>      
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :payment_status, :value => "Pending" %>
        <%= f.hidden_field :user_name, :value => @user.name %>                                             
        <figure class="fuel-reward-thumbnail">
          <% image_tag(@project_reward.img_url,:class=> "img-circular") %>
        </figure>

        <div class="form-field">
          <%= f.text_field :project_reward_name, :readonly=>true,:value=>@project_reward.name ,class: "form-input", placeholder: "Project Reward" %>
          <label class="form-label" for="name">Project Reward Name</label>
        </div>

        <div class="form-field">
          <%= f.number_field :amount, :value=>@project_reward.min_amount, class: "form-input", placeholder: "Amount",:min=>@project_reward.min_amount,:step=>0.01 %>
          <label class="form-label" for="email">Amount ($)</label>          
        </div>        
        <% if !@user_shipping_addresses.blank? %>                              
            <br><%= f.select :user_shipping_address_id, @user_shipping_addresses.map(&:id),{:include_blank => 'Select shipping address id'},:required=>"required" %>
            <div class="form-field">
            <table class="table-show">
              <table border="1">
              <tr>
                <th>ID</th>
                <th>  Address</th>
                <th> </th>
                <th>Country</th>
                <th>Postal_Code</th>
                </tr>                
                 <% @user_shipping_addresses.each do |x| %>                       
                    <% address = x.id.to_s+" "+x.address_line_1+" "+x.address_line_2+" "+x.country+" "+x.postal_code %><br>
                    <tr>
                      <td><%= x.id.to_s%>&nbsp&nbsp&nbsp</td>
                      <td><%= x.address_line_1 %></td>
                      <td><%= x.address_line_2 %>&nbsp&nbsp&nbsp</td>
                      <td><%= x.country %></td>
                      <td><%= x.postal_code %></td>
                    </tr>
                 <% end %>                 
              </table>
            </div>
        <% else %>          
        <!-- New User Shipping Address -->
          <div class="form-field">
            <%= f.text_field :address_line_1, class: "form-input", placeholder: "Address Line 1" %>
            <label class="form-label" for="address_line_1">Address Line 1</label>
          </div>

          <div class="form-field">
            <%= f.text_field :address_line_2, class: "form-input", placeholder: "Address Line 2" %>
            <label class="form-label" for="address_line_2">Address Line 2</label>
          </div>  
                  
          <div class="form-field">
            <select name="country" class="countries" id="countryId">
              <option value="">Select Country</option>
            </select>                       
            <label class="form-label" for="country">Country</label>
          </div>                         
          
          <div class="form-field">
            <select name="state" class="states" id="stateId">
              <option value="">Select State</option>
            </select>
            <label class="form-label" for="state">State</label>       
          </div>

          <div class="form-field">
            <select name="city" class="cities" id="cityId">
              <option value="">Select City</option>
            </select>
            <label class="form-label" for="city">City</label>
          </div>                  

          <div class="form-field">
            <%= f.text_field :postal_code, class: "form-input", placeholder: "Postal Code"  %> 
            <label class="form-label" for="postal_code">Postal Code</label>       
          </div>
        <% end %>

        <div class="form-actions">
          <%= f.submit "Submit", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>    
</div>

<%= render "layouts/footer" %>
<%= yield %><%= yield %>