<%= render "layouts/headerUser", :projects => @projects, :images => @project_coverImgs %>

<!-- include bootstrap-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">


  <div class="page-section">
    <legend class="form-heading heading--signup"> Make Payment</legend>    
    <br>
    <br>
    <%= form_for :payment, url: processPayment_path(@payment) do |f| %>               
        <%= f.hidden_field :pr_id, :value => @project_reward.id %>      
        <%= f.hidden_field :project_id, :value => @project_reward.project_id %>      
        <% if !@current_milestone.nil? %>
          <%= f.hidden_field :project_milestone_id, :value => @current_milestone.id %>      
        <% end %>
        <%= f.hidden_field :project_reward_id, :value => @project_reward.id %>      
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :payment_status, :value => "Pending" %>
        <%= f.hidden_field :user_name, :value => @user.name %>                                             
        <figure class="fuel-reward-thumbnail">
          <% image_tag(@project_reward.img_url,:class=> "img-circular") %>
        </figure>

        <div class="form-field">
          <%= f.text_field :project_reward_name, :readonly=>true,:value=>@project_reward.name ,class: "form-input", placeholder: "Project Reward" %>
          <label class="form-label" for="name">Project Reward Name</label>
        </div>

        <div class="form-field">
          <%= f.number_field :amount, :value=>@project_reward.min_amount, class: "form-input", placeholder: "Amount",:min=>@project_reward.min_amount,:step=>1 %>
          <label class="form-label" for="email">Amount ($)</label>          
        </div>        
        <% if !@user_shipping_addresses.blank? %>
             <%
               options = options_from_collection_for_select(UserShippingAddress.where(:user_id => @user.id ), 'id',:full_address , '1')
             %>
            <br>
           <div class="form-field">
             <%= f.select :user_shipping_address_id,options,{:include_blank => 'Select Shipping Address',:class => "form-input"},:required=>'required' %>
             <label class="form-label" for="shippingAddress">Shipping Address</label>
           </div>
        <% else %>          
        <!-- New User Shipping Address -->
          <div class="form-field">
            <%= f.text_field :address_line_1, class: "form-input", placeholder: "Address Line 1",:required=>'required' %>
            <label class="form-label" for="address_line_1">Address Line 1</label>
          </div>

          <div class="form-field">
            <%= f.text_field :address_line_2, class: "form-input", placeholder: "Address Line 2" %>
            <label class="form-label" for="address_line_2">Address Line 2</label>
          </div>  
                  
          <div class="form-field">        
          <%= f.country_select :country, ['Singapore'], options = {}, html_options = {:class => "form-input", :id => "resizing_select",:required=>'required'} %>
           <select id="width_tmp_select">
            <option id="width_tmp_option"></option>
           </select>
         </div>

          <div class="form-field">
            <%= f.text_field :postal_code, class: "form-input", placeholder: "Postal Code",:required=>'required' %>
            <label class="form-label" for="postal_code">Postal Code</label>       
          </div>
        <% end %>

        <div class="form-actions">
          <%= f.submit "Submit", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>    
</div>

<%= render "layouts/footer" %>
<%= yield %><%= yield %>