<%= render "layouts/headerLogin" %>
<%= yield %>

<!-- include bootstrap-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">


  <div class="page-section">
    <legend class="form-heading heading--signup"> Make Payment</legend>    
    <br>
    <br>
    <%= form_for :payment, url: processPayment_path(@payment) do |f| %>               
        <%= f.hidden_field :pr_id, :value => @project_reward.id %>      
        <%= f.hidden_field :project_id, :value => @project_reward.project_id %>      
        <% if !@current_milestone.nil? %>
          <%= f.hidden_field :project_milestone_id, :value => @current_milestone.id %>      
        <% end %>
        <%= f.hidden_field :project_reward_id, :value => @project_reward.id %>      
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :payment_status, :value => "Pending" %>
        <%= f.hidden_field :user_name, :value => @user.name %>                              
        
        <figure class="fuel-reward-thumbnail">
          <% image_tag(@project_reward.img_url,:class=> "img-circular") %>
        </figure>

        <div class="form-field">
          <%= f.text_field :project_reward_name, :readonly=>true,:value=>@project_reward.name ,class: "form-input", placeholder: "Project Reward" %>
          <label class="form-label" for="name">Project Reward Name</label>
        </div>

        <div class="form-field">
          <%= f.number_field :amount, :value=>@project_reward.min_amount, class: "form-input", placeholder: "Amount",:min=>@project_reward.min_amount,:step=>0.01 %>
          <label class="form-label" for="email">Amount ($)</label>          
        </div>
        
        <% if !@user_shipping_address.nil? %>
          <%= f.hidden_field :user_shipping_address_id, :value =>@user_shipping_address.id %>                  
        <% end %>
        
        <%# @user_shipping_addresses.each do |x|%>       
        <div class="form-actions">
          <%= f.submit "Submit", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>    
</div>

<%= render "layouts/footer" %>
<%= yield %><%= yield %>