<div class="wrap" style="position: relative;">
  <h2 class="heading--small" id="project-team-heading" style="position: relative; display: table; width: auto; margin-left: auto; margin-right: auto;">
    Our Team
  </h2>

  <ul class="project-team-members" style="position: relative;" id="project-team-members">
    <% project_members.each do |pm| %>
        <% if pm.member_status == 3 || pm.member_status == 2 %>
        <li class="project-team-member">

          <div class="project-team-member-thumbnail js-lightbox-open member-image" data-content-container="#team-lightbox-content-<%= pm.pm_id %>">
            <% if User.find(pm.user_id).profile_pic.blank? %>
                <%= image_tag('defaultprofile.png', :class=>"member-image") %>
            <% else %>
                <%= image_tag(User.find(pm.user_id).profile_pic, :class=>"member-image") %>
            <% end %>

            </div>
          <span class="project-team-member__name"><%= User.find(pm.user_id).last_name %> <%= User.find(pm.user_id).first_name %></span>
          <span class="project-team-member__position"><%= pm.role %></span>
        </li>
       <% end %>
    <% end %>

    <i class="temp-slider-arrow-left" style="margin-top: -75px;"></i>
    <i class="temp-slider-arrow-right" style="margin-top: -75px;"></i>
  </ul>
</div>