<% if ProjectProposalImg.find_by(:project_proposal_id => p.project_proposal_id).nil? %>
    <li class="explore-project explore-project--<%= girdStyle %>" style="background-color: black">
<% else %>
    <li class="explore-project explore-project--<%= girdStyle %>" style="background-image:url(<%=ProjectProposalImg.where(:project_proposal_id => p.project_proposal_id).first.img_url %>);">
<% end %>
<% @current_milestone = ProjectMilestone.order('start_date ASC').where(:project_id => params[:id]).where.not(:project_status_id => 5).first %>


  <header class="explore-project-header">
    <h3 class="explore-project__title whitebackground"><%= ProjectProposal.find(p.project_proposal_id).title %></h3>
  </header>

  <div class="explore-project-description">
    <div class="explore-project-description-content whitecontent">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">
              <%= User.find(p.user_id).last_name %> <%= User.find(p.user_id).first_name %></span>
						</span>

      <% textOut = ProjectProposal.find(p.project_proposal_id).description %>
      <div class="explore-project__excerpt">
        <p class="wordwrapper"><%= textOut[0..90].gsub(/\s\w+\s*$/, '...') %></p>
      </div>

      <div class="explore-project__cta">
        <%= link_to 'VIEW PROJECT', viewProject_path(:id => p.id), :class => "button--stroke"%>
      </div>
    </div>

    <div class="explore-project-description__background"></div>
  </div>
  <% ran = rand(50...75)%>
  <footer class="explore-project-footer whitecontent">
    <ul class="meta-tags">
      <li class="meta-tag ">
        <span class="meta-tag__data ">0%</span>
        Funded
      </li>

      <li class="meta-tag">
        <%  if !@current_milestone.nil? %>
            <% no_Of_Days = @current_milestone.end_date.to_date - Date.today.to_date %>
            <span class="meta-tag__data"><%= no_Of_Days.to_i %></span>
        <% else %>
            <span class="meta-tag__data">0</span>
        <% end %>
        Days left
      </li>
    </ul>
  </footer>
</li>