<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>
<link rel="stylesheet" href="/assets/unsemantic/assets/stylesheets/unsemantic-grid-responsive-no-ie7.css" >
<link rel="stylesheet" href="/assets/unsemantic/assets/stylesheets/unsemantic-grid-responsive-tablet-no-ie7.css">

<main class="page-main">
	<header class="explore-header" style="background-image:url(/assets/explore-header.jpg);">
		<h1 class="explore-header__title">Explore</h1>
		<span class="explore-header__category">Crowdfunding Projects</span>
		<a href="#" class="explore-header__location">
			<i class="icon icon--location-pin"></i>
			<span class="explore-header__location-text">Singapore</span>
		</a>
	</header>

	<div class="explore-banner">
		<h2 class="explore-banner__title">Trending</h2>
		<p class="explore-banner__description">Projects people are raving about</p>
	</div>

	<section class="explore-projects">
		<a href="project.php">
			<article class="explore-project--featured" style="background-image:url(/assets/explore-featured-header.jpg);">
				<div class="wrap">
					<header class="explore-project-header">
						<ul class="meta-tags">
							<li class="meta-tag--blue">Staff Pick</li>
						</ul>

						<h1 class="explore-project-title heading--large">
							The Drinkable book
						</h1>

						<ul class="meta-tags">
							<span class="meta-tag">
								<i class="icon icon--location-pin"></i>
								Singapore
							</span>

							<span class="meta-tag">
								<i class="icon icon--leaf"></i>
								Environment
							</span>

							<span class="meta-tag">
								<i class="icon icon--fuel"></i>
								$5,000 of $10,000 Fueled
							</span>
						</ul>

						<div class="project-days">
							<span class="project-days__days">30</span>
							<span class="project-days__text">Days<br>left</span>
						</div>
					</header>
				</div>
			</article>
		</a>

		<ul class="explore-projects-grid wrap">
			<li class="explore-project explore-project--horizontal" style="background-image:url(/assets/explore-1-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">The Sriracha Series<br>by Savage Jerky</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-2-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">The Porthole</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-3-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Zen Egg: Create Time for yourself</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--vertical" style="background-image:url(/assets/explore-4-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Gramovox Bluetooth Gramophone</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square--large explore-project--dark" style="background-image:url(/assets/explore-5-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Pico: Time-lapse made simple</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-6-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Skull Lamp</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square explore-project--list explore-project--arrow-down">
				<header class="explore-project-header">
					<h3 class="explore-project__title">Curated</h3>
					<p>Projects selected just for you</p>

					<a href="#" class="button--stroke">More</a>
				</header>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-7-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Projecteo: Slide Projector</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-8-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Still Life Studies</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--horizontal" style="background-image:url(/assets/explore-9-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Coil: Iced Coffee w/o diluting your brew</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--horizontal" style="background-image:url(/assets/explore-10-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Toymail Mailmen</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--horizontal" style="background-image:url(/assets/explore-11-thumbnail.jpg);clear:left;">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">The Urban Yoga</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square--large explore-project--dark" style="background-image:url(/assets/explore-12-thumbnail.jpg);margin-top: -25%;">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Hemingwrite</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square explore-project--list explore-project--arrow-right">
				<header class="explore-project-header">
					<h3 class="explore-project__title">Fresh</h3>
					<p>From the oven</p>

					<a href="#" class="button--stroke">More</a>
				</header>
			</li>

			<li class="explore-project explore-project--square explore-project--dark" style="background-image:url(/assets/explore-13-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Miniature World Calendar</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square explore-project--dark" style="background-image:url(/assets/explore-14-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">DYLN: The Bottle That Creates Alkaline Water On the Go</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-15-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">The Monolyth: Palace of Black Star</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-16-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Professor Longhair: Making a gumbo</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square--large" style="background-image:url(/assets/explore-17-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Lumio</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square explore-project--stroke" style="background-image:url(/assets/explore-18-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Artisan Kits</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-19-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Dachi Tea: The High Mountain Experience</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--vertical" style="background-image:url(/assets/explore-20-thumbnail.jpg);margin-top: -25%;">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Lunar Mission One</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--square" style="background-image:url(/assets/explore-21-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Chocolate that Nourishes the Mind, Body, and Spirit</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>

			<li class="explore-project explore-project--horizontal explore-project--dark" style="background-image:url(/assets/explore-22-thumbnail.jpg);">
				<a class="explore-project-link" href="#">
				</a>

				<header class="explore-project-header">
					<h3 class="explore-project__title">Counter Crop: The modern way to grow your food</h3>
				</header>

				<div class="explore-project-description">
					<div class="explore-project-description-content">
						<span class="explore-project-description-header">
							by <span class="explore-project__author">Waterislife</span>
						</span>

						<div class="explore-project__excerpt">
							<p>Balancing wooden totem, elegantly crafted to help you de-stress and reconnect with yourself.</p>
						</div>

						<div class="explore-project__cta">
							<a href="#" class="button--stroke">View Project</a>
						</div>
					</div>

					<div class="explore-project-description__background"></div>
				</div>

				<footer class="explore-project-footer">
					<ul class="meta-tags">
						<li class="meta-tag">
							<span class="meta-tag__data">50%</span>
							Fueled
						</li>

						<li class="meta-tag">
							<span class="meta-tag__data">12</span>
							Days left
						</li>
					</ul>
				</footer>
			</li>
		</ul>

		<a href="#" class="project-explore__load-more">Load More</a>

	</section>
</main>

<%= render "layouts/try" %>
<%= yield %>

<%= render "layouts/footer" %>
<%= yield %>