<%= render "layouts/headerLogin" %>
<%= yield %>

<!-- include bootstrap-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class="page-main">


  <div class="page-section">
    <legend class="form-heading heading--signup"> Make Payment</legend>    
    <br>
    <br>
    <%= form_for :payment, url: makePayment_path(@user) do |f| %>        
        <div class="form-field">
          <!--<%# if @payment.errors.any? %>
              <div class="panel panel-danger">
              <div class="panel-heading"><h2><strong>Your inputs do not meet the requirements:</strong></h2></div>
                <div class="panel-body alert-design">
                  <ul style="list-style-type:circle">
                    <%# @payment.errors.full_messages.each do |message| %>
                        <li><%#= message %></li>
                    <%# end %>
                  </ul>
                </div>
              </div>
          <%# end %> 
        </div> -->        
        
        <figure class="fuel-reward-thumbnail">
          <%= image_tag(@project_reward.img_url,:class=> "img-circular") %>
        </figure>

        <div class="form-field">
          <%= f.text_field :description, :readonly=>true,:value=>@project_reward.name ,class: "form-input", placeholder: "Description" %>
          <label class="form-label" for="name">Description</label>
        </div>

        <div class="form-field">
          <%= f.text_field :price,:readonly=>true,:value=>@project_reward.min_amount, class: "form-input", placeholder: "Price" %>
          <label class="form-label" for="email">Price ($)</label>          
        </div>

        <div class="form-field">
          <%= f.text_field :quantity,class: "form-input", placeholder: "Quantity" %>
          <label class="form-label" for="quantity">Quantity</label>
          <div align=left>(Note: Maximum quantity must be less than <%=@project_reward.no_of_rewards%>).</div>
        </div>

        <div class="form-field">
          <%= f.text_field :estimated_delivery,:readonly=>true,:value=>@project_reward.estimated_delivery, class: "form-input", placeholder: "Estimated Delivery" %>
          <label class="form-label" for="email">Estimated Delivery (YYYY/MM/DD)</label>
        </div>
        
        <div class="form-actions">
          <%= f.submit "Submit", class: "button--stroke--long" %>
        </div>
    <% end %>
    <br>    
</div>

<%= render "layouts/footer" %>
<%= yield %><%= yield %>