  <%= javascript_include_tag "edit-project.js"%>

  <% if @session.nil? %>
      <%= render "layouts/headerLogin" %>
  <% else %>
      <%= render "layouts/headerUser", :projects => @projects, :images => @project_coverImgs %>
      <%= yield %>
  <% end %>

<main class="page-main" id="page-main">
  <section class="project-hero" id="overview">
    <%= render "explores/overview", :project_id => @project.id, :project_proposal => @project_proposal, :project_categories => @project_categories %>
    <%= render "explores/coverpage", :project_id => @project.id, :project_proposal => @project_proposal, :project_proposal_imgs => @project_proposal_imgs %>

    <% payments = Payment.where(:project_milestone_id=>@current_milestone.id).sum(:amount) if !@current_milestone.nil?%>
    <% percentage=(payments/@current_milestone.target_amount)*100 if !@current_milestone.nil?%>
    <div class="project-fuel">
      <div class="project-fuel-bar js-project-fuel-bar" data-fuel="<%=percentage%>%">
        <div class="project-fuel-bar__text">
          <% if payments.to_i == 0 %>
              0
          <% else %>
              <%=number_with_precision(percentage, :precision => 1)%>
          <% end %>
          % funded
        </div>
      </div>
    </div>
  </section>

  <article class="project-content">
    <div id="project-navigation-sticky-wrapper" class="sticky-wrapper">
      <nav class="project-navigation list-horizontal-scroller" id="project-navigation">
      <ul class="list--horizontal">
        <li class="list-item current"><a href="#overview">Overview</a></li>
        <li class="list-item"><a href="#about">About</a></li>
        <!--<li class="list-item"><a href="#details">Details</a></li> -->
        <li class="list-item"><a href="#updates">Updates</a></li>
        <li class="list-item"><a href="#team">Team</a></li>
        <li class="list-item"><a href="#fuel">Fund</a></li>
        <li class="list-item"><a href="#timeline">Timeline</a></li>
      </ul>
    </nav>
    </div>


    <section class="project-content-section" id="about">
      <div class="wrap">
        <div class="grid-container">
          <div class="grid-65">
            <div class="project-stats grid-container">
             <div class="project-funding-goal">
              </div>

              <!-- <div class="project-funding-goal-overlay" id="project-funding-goal-overlay"></div> -->

              <div class="grid-30">
                <div class="project-stat">
                  <%  if !@current_milestone.nil? %>
                      <% no_Of_Days = @current_milestone.end_date.to_date - Date.today %>
                      <span class="project-stat__data"><%= no_Of_Days.to_i %></span>
                      <span class="project-stat__description">Days remaining</span>
                  <% else %>
                      <% eno_Of_Days = @project_proposal.estimated_end_date - Date.today %>
                      <span class="project-stat__data"><%= eno_Of_Days.to_i %></span>
                      <span class="project-stat__description">Days remaining</span>
                  <% end %>
                </div>
              </div>
              <div class="grid-30 push-5">
                <div class="project-stat">
                  <span class="project-stat__data"><%= number_with_precision(percentage,:precision => 1) %>%</span>
                  <span class="project-stat__description">Funded</span>
                </div>
              </div>
              <div class="grid-30 push-10">
                <div class="project-stat" id="project-funding">
                  <span class="project-stat__data">$<%=number_with_precision(payments, :precision => 2)%></span>
                  <span class="project-stat__description">of

                    <%  if !@current_milestone.nil? %>
                      <span id="project-funding-value">$<%= number_with_precision(@current_milestone.target_amount, :precision => 2) %> </span> funded</span>
                  <% else %>
                      <span id="project-funding-value">$<%= number_with_precision(@project_proposal.estimated_amt_raise, :precision => 2)  %> </span> funded</span>
                 <% end %>

                </div>
              </div>
            </div>


            <div id="project-about">
              <div class="project-about-title" id="project-about-title">
                <h2 class="heading--small">
                  About the Project
                </h2>

              </div>


              <div class="project-description">
                        <p class="t--large wordwrapper"><%= @project_proposal.description %></p>


               </div>

                    </div>

                </div>

          <div class="grid-25 push-10">
            <ul class="list">
              <li class="list-item fuel-button-container">
                <a href="#fuel" class="fuel-button js-scrollto-button" data-scroll-target="#fuel">
                  <span class="fuel-button__content">
                    <span class="fuel-button__cta">Fund</span>
                    <span class="fuel-button__text">This Project</span>
                      <i class="icon icon--chevron-down"></i>
                  </span>
                </a>
              </li>

              <li class="list-item">
                <ul class="list--narrow">
                  <li class="list-item">
                    <a href="#" class="project-location">
                      <i class="icon icon--location-pin"></i>
                       <%= @project.country %>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section class="project-content-section" id="updates">
      <div class="wrap" style="position: relative;">
        <h2 class="section-heading heading--small">Updates
        </h2>

      </div>

      <%= render "explores/updates", :project_id => @project.id, :project_updates => @project_updates %>

      <!--<a href="#" class="project-content__load-more">Load More</a>-->
    </section>

    <section class="project-content-section" id="team">
      <%= render "explores/members", :project_id => @project.id, :project_members => @project_members %>
    </section>

    <section class="project-content-section" id="fuel">
      <div class="wrap">
        <h2 class="section-heading heading--small">Fund Us Up

        </h2>
      </div>

      <p>Select a reward level and support our project.</p>
      </div>

      <%= render "explores/rewards", :project_id => @project.id, :project_rewards => @project_rewards %>

      <!--<a href="#" class="fuel-pledge-another">Pledge Another Amount <i class="icon icon--chevron-right"></i></a>-->
    </section>
    <section class="project-content-section" id="timeline">
      <h2 class="heading--small section-heading">
        Timeline

      </h2>


      <div class="wrap">

        <%  if !@current_milestone.nil? %>
          <div class="diamond section-header">
            <div class="diamond-inner">
              <span class="flag"></span>
              <p class="wordwrapper"><%=@project_proposal.title %></p>
              <% no_Of_Days = @current_milestone.end_date.to_date - Date.today.to_date %>
              <p class="wordwrapper">$<%=@total_target_amount %></p>
              <p class="wordwrapper"><%= no_Of_Days.to_i %> DAYS LEFT</p>
            </div>
          </div>
        <% end %>

          <div class="grid-container">
            <div class="grid-25">
            </div>

            <div class="grid-50">
              <%= render "explores/milestones", :project_id => @project.id, :project_milestones => @project_milestones %>

            </div>

            <div class="grid-25">

            </div>
          </div>


      </div>
    </section>
  </article>
</main>

<!-- ALL THE FUCKING LIGHTBOX STARTS HERE -->
<div class="lightbox js-lightbox">
  <div class="js-lightbox-close lightbox-close icon icon--lightbox-close"></div>

  <div class="js-lightbox-content">

  </div>
</div>

<div class="lightbox-overlay js-lightbox-overlay js-lightbox-close"></div>

<% @project_members.each do |pm| %>
    <div class="l--hidden" id="team-lightbox-content-<%= pm.pm_id %>">
      <div class="team-lightbox-top">
        <div class="grid-container">
          <div class="grid-30">
            <div class="team-lightbox-image lightbox-pic">
              <% if User.find(pm.user_id).profile_pic.blank? %>
                  <%= image_tag('defaultprofile.png', :class => "lightbox-pic") %>
              <% else %>
                  <%= image_tag(User.find(pm.user_id).profile_pic, :class => "lightbox-pic") %>
              <% end %>
            </div>
          </div>

          <div class="grid-60 push-5">
            <span class="team-lightbox__name"><%= User.find(pm.user_id).name %></span>
            <span class="team-lightbox__position"><%= pm.role %></span>


            <ul class="meta-tags">
              <li class="meta-tag">
                <% bio = User.find(pm.user_id).bio_url %>
                <% if !(bio.nil? || bio.empty?) %>
                    <%= link_to bio, :target => "_blank" do %>
                        <i class="icon icon--visit"></i>
                        <%= bio %>
                    <% end %>
                <% end %>
              </li>
            </ul>

            <div class="team-lightbox-social-links">
              <% twitter = pm.twitter_url %>
              <% fb = pm.facebook_url %>
              <% instagram = pm.instagram_url %>
              <% if !(twitter.nil? || twitter.empty?) %>
                  <%= link_to twitter, :target => "_blank" do %>
                      <i class="icon icon--twitter-with-circle"></i>
                  <% end %>
              <% end %>
              <% if !(instagram.nil? || instagram.empty?) %>
                  <%= link_to instagram, :target => "_blank" do %>
                      <i class="icon icon--instagram-with-circle"></i>
                  <% end %>
              <% end %>
              <% if !(fb.nil? || fb.empty?) %>
                  <%= link_to fb, :target => "_blank" do %>
                      <i class="icon icon--facebook-with-circle"></i>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="grid-container">
          <div class="grid-30">
            <ul class="team-lightbox-actions">
              <li>                
                <%# link_to "Message",messageMember_path(id:pm.user_id,p_id:@project.id),:class=>"button--stroke--full" %>                      
                <%= link_to "Message","http://www.facebook.com/messages/"+User.find(pm.user_id).fb_url.to_s ,:class=>"button--stroke--full" %>         
              </li>
            </ul>
          </div>

          <div class="grid-60 push-5">
            <div class="team-lightbox-description">
              <p class="t--large"><%= pm.description %></p>
              <p><%= pm.sub_description %></p>
            </div>
          </div>
        </div>

      </div>


    </div>
<% end %>

<% @project_rewards.each do |pr| %>
    <div class="l--hidden" id="fuel-lightbox-content-<%= pr.id %>">
      <div class="fuel-lightbox-container">
        <span class="fuel-lightbox__heading">You selected:</span>
        <span class="fuel-lightbox__value">$<%=number_with_precision( pr.min_amount, :precision => 2)%></span>
        <span class="fuel-lightbox__title"><%= pr.name %></span>

        <p class="t--small">Feeling generous? Fuel Up! <a href="#">Increase your support.</a></p>

        <div class="fuel-lightbox__description">
          <p class="t--large">This package includes our <%= pr.name %> to be sent to (<%= pr.no_of_rewards %>) families in need. And
            receive a personal thank you from us.</p>
        </div>

        <span class="fuel-lightbox__delivery">
    <span class="t--strong">Estimated delivery:</span> <%= pr.estimated_delivery.strftime("%B %Y") %>
    </span>
        <% no_of_rewards = ProjectReward.find(pr.id).no_of_rewards %>
        <% noOfBacker = Payment.where(:project_reward_id => pr.id).count('project_reward_id') %>
        <% @payment=Payment.find_by_user_id(session[:user_id]) %>
        <% if @payment.nil? && noOfBacker<no_of_rewards && !session[:user_id].nil? %>
            <% if noOfBacker<no_of_rewards %>
                <% if !session[:user_id].nil? %>
                    <%= link_to 'Continue', makePayment_path(:pr_id=>pr.id), :class=>"button--fill" %>
                <% else %>
                  Please log in to purchase this proejct reward.
                <% end %>
            <% else %>
              This project reward is no longer available.
            <% end %>          
        <% else %>
          You have already purchased this project reward.
        <% end %>
      </div>
    </div>

<% end %>


<%= render "layouts/try" %>
<%= yield %>

<%= render "layouts/footer" %>
<%= yield %>